.col-md-10.col-md-offset-1
  .row
    .col-md-6
      .step
        if user && user.printer == 'accepted'
          a(href="#", title="As a printer you can not upload files. Create a new profile as a user to place orders.")
            img.img-circle(src='/img/icons_printing.png', style='width: 100px; height: 100px;')
        else
          a(href="/project/upload")
            img.img-circle(src='/img/icons_printing.png', style='width: 100px; height: 100px;')
        h5 Send to print
        p
          | Upload an STL file, see the price
          br
          | and order your print
    //- .col-md-4
    //-   .step
    //-     a(href="/design/stl")
    //-       img.img-circle(src='/img/icon-1.png', style='width: 100px; height: 100px;')
    //-     h5 Find a designer
    //-     p
    //-       | Describe your project and
    //-       br
    //-       | choose the designer that suits
    //-       br
    //-       | you better
    .col-md-6
      .step
        a(href="/profile/settings")
          img.img-circle(src='/img/icon-22.png', style='width: 100px; height: 100px;')
        h5 Upgrade your Profile
        p
          | Are you a printer or a designer?
          br
          | Click here to upgrade your profile
          br
          | and start to print or design for
          br
          | others
