
footer

  #footer(class=(nav!='/home'?'grey-bg':''))
    .container
      .row
          ul.nav.navbar-nav.navbar-left
              li
                a(href='#').menu-item 3doers s.r.l. copyright 2015
              li
                a(href='#').menu-item Terms and Conditions
              li
                a(href='#').menu-item Privacy Policy

          ul.nav.navbar-nav.navbar-right.social-links
              li
                a(href='#')
                    i.fa.fa-facebook

              li
                a(href='#')
                    i.fa.fa-twitter

              li
                a(href='#')
                  i.fa.fa-pinterest
