footer

  #footer(class=(nav!='/home'?'grey-bg':''))
    .container
      .row
          ul.nav.navbar-nav.navbar-left
              li
                a(href='#').menu-item #{__("Copyright")}
              li
                a(href='#').menu-item #{__("Terms")}
              li
                a(href='#').menu-item #{__("Privacy")}

          ul.nav.navbar-nav.navbar-right.social-links
              li
                a(href='https://www.facebook.com/3doers')
                    i.fa.fa-facebook

              li
                a(href='#')
                    i.fa.fa-twitter

              li
                a(href='#')
