.header_block
  section.homepage.container1
    header
      .container-left
        a.logo(href='/')
          img#icon(alt='3doers Icon', src='img/logo_3doers.png')
      .container-right
        ul.login
          li
            p
              unless user
                a(href='/accounts/login') LOG IN
              else
                a(href='/accounts/logout') LOGOUT
          li
            p
              a(href='/accounts/signup') SIGN UP

  .login_background
    .login_bar

//- .header
//-   ul.nav.nav-pills.pull-right
//-     if user
//-       if user.admin
//-         li
//-           a(href='/admin/users') Admin
//-       li
//-         a(href='/project/upload') Upload a Project
//-       li
//-         a(href='/become') Become a Printer
//-       li
//-         a(href='/profile/projects') Your Profile
//-       li
//-         a(href='/accounts/logout') Sign Out
//-     else
//-       li
//-         a(href='/accounts/login') Login
//-       li
//-         a(href='/accounts/signup') Sign Up