header
  #header
    unless user
      .container
        .row
          .col-md-6
            a(href='/')
              img(src='/img/logo.png')
          .col-md-6
            nav
              .main-nav
                ul
                  li
                    a(href='/accounts/login') LOG IN
                  li
                    a(href='/accounts/signup') SIGN UP
    else
      .container
        .row
          .col-md-2
            a(href='#')
              img(src='/img/logo.png')
          .col-md-10
            .search-form.pull-right
              form
                input.form-control(type='text', placeholder='SEARCH')
                button(type='submit')
                a.square-social-link(href='#')
                  span.fa.fa-facebook
                a.square-social-link(href='#')
                  span.fa.fa-twitter
                a.square-social-link(href='#')
                  span.fa.fa-google-plus
                a.square-social-link(href='#')
                  span.fa.fa-heart
                span.favorite-count
                  span 1
            .clearfix
            .simple-nav
              nav
                ul.nav.nav-pills.navbar-right
                  li
                    a(href='/project/upload') Upload A Project
                  li.dropdown
                    a(href='/become') Become A Printer
                  li.dropdown
                    a(href='/become') Become A File Manager
                  li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown') My Profile
                    ul.dropdown-menu(role='menu')
                      li
                        a(href='/profile/projects') User
                      if user.printer == 'accepted'
                        li
                          a(href='/profile/requests') Printer
                      li
                        a(href='#') File manager
                      li
                        a(href='/profile/settings') Edit profile
                  li
                    a(href='/accounts/logout') Sign Out
