unless user
  header
    #header
      .container
        .row
          .col-md-6
            a(href='/')
              img(src='/img/logo.png')
          .col-md-6
            nav
              .main-nav
                ul
                  li
                    a(href='/accounts/login') LOG IN
                  li
                    a(href='/accounts/signup') SIGN UP
else
    div.menuheader_block
      section.homepage.container1
        header
          div.container-left
            a.logo(href='/')
              img(alt='3doers Icon', src='/img/logo_3doers.png')
          div.container-right
            ul.menu
              li
                p
                  a(href="/project/upload") UPLOAD PROJECT
              li
                p
                  a(href="/become") BECOME A PRINTER
              li
                p
                  a BECOME A FILE MANAGER
              li#myprofile
                p
                  a(href='javascript://nop', onclick='toggle(this);') MY PROFILE
                p
                  a(href='/profile/projects').myprofileitem USER
                if user.printer == 'accepted'
                  p
                    a(href='/printing/requests').myprofileitem PRINTER
                p
                  a.myprofileitem FILE MANAGER
                p
                  a(href="/profile/settings").myprofileitem EDIT PROFILE
              li
                p
                  a(href="/accounts/logout") SIGN OUT
