header
  #header
    unless user
      .container
        .row
          .col-md-3
            a(href='/')
              img.img-responsive(src='/img/logo.png')
          .col-md-6.col-md-offset-3
            nav
              .main-nav
                ul
                  li
                    a(href='/accounts/login') LOG IN
                  li
                    a(href='/accounts/signup') SIGN UP
    else
      .container
        .row
          .col-md-2
            .logo-wrapper
              a(href='/')
                img(src='/img/logo.png')
          .col-md-10
            //- .search-form
              //- form
              //-   input.form-control(type='text', placeholder='SEARCH')
              //-   button(type='submit')
              //- .top-social-links
              //-   a.square-social-link(href='#')
              //-     span.fa.fa-facebook
              //-   a.square-social-link(href='#')
              //-     span.fa.fa-twitter
              //-   a.square-social-link(href='#')
              //-     span.fa.fa-google-plus
              //-   a.square-social-link(href='#')
              //-     span.fa.fa-heart
                //- span.favorite-count
                //-   span 1
            .clearfix
            .simple-nav
              nav
                ul.nav.nav-pills.navbar-right
                  - if (user && user.printer == 'accepted')
                    li
                      a(href='/printing/requests') Available Jobs
                  - if (user && user.filemanager == 'accepted')
                    li
                      a(href='/filemanager/requests') Available Files
                  - if (user && user.filemanager != 'accepted' && user.printer != 'accepted')
                    li
                      a(href='/project/upload') Upload A Project

                  - if (user && user.printer != 'accepted')
                    li.dropdown
                      a(href='/become') Become A Printer
                  - if (user && user.filemanager != 'accepted')
                    li.dropdown
                      a(href='/become/filemanager') Become A File Manager
                  li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown') My Profile
                    ul.dropdown-menu(role='menu')
                      li
                        a(href='/profile/projects') User
                      if user.printer == 'accepted'
                        li
                          a(href='/printing/requests') Printer
                      if user.filemanager == 'accepted'
                        li
                          a(href='/filemanager/requests') File manager
                      li
                        a(href='/profile/settings') Edit profile
                  li
                    a(href='/accounts/logout') Sign Out
