.row
  .col-md-5
    p.text-center
      img(src='/img/publicity_homepage.png')
    br
  .col-md-7
    h1.page-title.small.right
      span Welcome To 3Doers
    h1.page-title.small.right
      span Find A 3D Printer For Your Project
    h1.page-title.small.right
      span Or Start Printing Others