| Hi #{user.firstName || user.username}
br
br
| The project you accepted &nbsp;&nbsp;
a(href="#{site}/project/#{project.id}") #{project.title}
| &nbsp;&nbsp;was payed please take a look, comment or start printing today.