{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true
    },
    "settings": {
        "ecmascript": 6,
        "jsx": true
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "strict": 0,
        "quotes": 'single',
        "no-unused-vars": 0,
        "camelcase": 0,
        "no-underscore-dangle": 0
    },
    globals: {
      "window": true,
      "$": true,
      "env": true,
      "JSC3D": true,
      "Primus": true
    }
}
