
# Sublime Text
imake.sublime-*

# Vagrant
Cheffile
Cheffile.lock
Vagrantfile
cookbooks/
.vagrant/
tmp/

# some files
src/locals.coffee
locals.coffee
uploads/
.sass-cache/

node_modules

# python file
py-env
*.py[c|o]

#webstorm
.idea

# vim
*.swp

.node-version
codeit.sh
npm-debug.log
