.header_block
  %section.homepage.container1
    %header
      .container-left
        %a{href: "http://www.3doers.it", class: "logo"}
          %img{alt: "3doers Icon", src: "images/logo_3doers.png"}
      .container-right
        %ul.login
          %li
            %p
              %a{href: ""}LOG IN
          %li
            %p
              %a{href: ""}SIGN UP

  .login_background
    .login_bar
