
extends ../../core/profile/base

block title
  |  Your Projects

block content-profile
    .tab-content
      #projects
        - if (projects.length == 0)
          p.info-3d There is not any project yet for this list.
        - for (project in projects)
          - project = projects[project]
            div
              p.info-3d
                span.title NAME:
                a(href='/design/project/#{project.id}') #{project.title}
              br
              .row
                .col-md-8
                  p.info-3d
                    span.title STATUS
                    | #{project.humanizedStatus()}
                    span.image.align-right
                    br
                .col-md-4
                  a.btn.btn-lg.btn-default.btn-goto(href='/design/project/#{ project.id }')
                    span GO TO THE
                      br
                      | PROJECT
              br
              .separator-3d
                img(src='/img/img_separatori_lista.png')

div
  .container
    br
    br
    br
    .row
      .col-md-5
        p.text-center
          img(src='/img/publicity_homepage.png')
        br
      .col-md-7
        h1.page-title.small.right
          span Welcome To 3Doers
        h1.page-title.small.right
          span Find A 3D Printer For Your Project
        h1.page-title.small.right
          span Or Start Printing Others
    br
    br
    br
    br

