extends ../layouts/_app

block title
  | Materials

block extra-headers
  meta(name="csrf-token", content="#{csrfToken}")

block content
  .page
    .container.materials
      row
        .col-md-12
          h3 #{__("Materials Page 0")}
          p #{__("Materials Page 1")}

          p #{__("Materials Page 2")}

          br
          br
          p.text-centered
            img(src="/images/materials/materiali.jpg")
          br
          br

      row.text-centered
        .col-md-3
          span.tbl-header NAME AND TYPE
        .col-md-3
          span.tbl-header STRENGTHS
        .col-md-3
          span.tbl-header WEAKNESSES
        .col-md-3
          span.tbl-header USED FOR

      row
        .col-md-12.header-ruler
          &nbsp;

      row
        .col-md-3
          .tbl-cell
            p PLA
              br
              em polycarbonate
        .col-md-3
          .tbl-cell
             p - Lorem ipsum dolor sit amet.
               br
               | - Lorem ipsum dolor sit amet.
               br
               | - Lorem ipsum dolor sit amet.
               br
               | - Lorem ipsum dolor sit amet.

        .col-md-3
          .tbl-cell
             p - Lorem ipsum dolor sit amet.
               br
               | - Lorem ipsum dolor sit amet.
               br
               | - Lorem ipsum dolor sit amet.
               br
               | - Lorem ipsum dolor sit amet.
               br
               | - Lorem ipsum dolor sit amet.

        .col-md-3
          .tbl-cell
             p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga fugiat eveniet, tempora a! Laboriosam repellat maiores fugit praesentium ducimus possimus, quod assumenda!

        .col-md-12.row-ruler
          &nbsp;

      row
        .col-md-3
          .tbl-cell
            p PLA
              br
              em polycarbonate
        .col-md-3
          .tbl-cell
             p - Lorem ipsum dolor sit amet.
               br
               | - Lorem ipsum dolor sit amet.
               br
               | - Lorem ipsum dolor sit amet.
               br
               | - Lorem ipsum dolor sit amet.

        .col-md-3
          .tbl-cell
             p - Lorem ipsum dolor sit amet.
               br
               | - Lorem ipsum dolor sit amet.
               br
               | - Lorem ipsum dolor sit amet.
               br
               | - Lorem ipsum dolor sit amet.
               br
               | - Lorem ipsum dolor sit amet.

        .col-md-3
          .tbl-cell
             p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga fugiat eveniet, tempora a! Laboriosam repellat maiores fugit praesentium ducimus possimus, quod assumenda!

        .col-md-12.row-ruler
          &nbsp;

      row
        .col-md-3
          .tbl-cell
            p PLA
              br
              em polycarbonate
        .col-md-3
          .tbl-cell
             p - Lorem ipsum dolor sit amet.
               br
               | - Lorem ipsum dolor sit amet.
               br
               | - Lorem ipsum dolor sit amet.
               br
               | - Lorem ipsum dolor sit amet.

        .col-md-3
          .tbl-cell
             p - Lorem ipsum dolor sit amet.
               br
               | - Lorem ipsum dolor sit amet.
               br
               | - Lorem ipsum dolor sit amet.
               br
               | - Lorem ipsum dolor sit amet.
               br
               | - Lorem ipsum dolor sit amet.

        .col-md-3
          .tbl-cell
             p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga fugiat eveniet, tempora a! Laboriosam repellat maiores fugit praesentium ducimus possimus, quod assumenda!

        .col-md-12.row-ruler
          &nbsp;

      row
        .col-md-3
          .tbl-cell
            p PLA
              br
              em polycarbonate
        .col-md-3
          .tbl-cell
             p - Lorem ipsum dolor sit amet.
               br
               | - Lorem ipsum dolor sit amet.
               br
               | - Lorem ipsum dolor sit amet.
               br
               | - Lorem ipsum dolor sit amet.

        .col-md-3
          .tbl-cell
             p - Lorem ipsum dolor sit amet.
               br
               | - Lorem ipsum dolor sit amet.
               br
               | - Lorem ipsum dolor sit amet.
               br
               | - Lorem ipsum dolor sit amet.
               br
               | - Lorem ipsum dolor sit amet.

        .col-md-3
          .tbl-cell
             p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga fugiat eveniet, tempora a! Laboriosam repellat maiores fugit praesentium ducimus possimus, quod assumenda!

        .col-md-12.row-ruler
          &nbsp;

      row
        .col-md-3
          .tbl-cell
            p PLA
              br
              em polycarbonate
        .col-md-3
          .tbl-cell
             p - Lorem ipsum dolor sit amet.
               br
               | - Lorem ipsum dolor sit amet.
               br
               | - Lorem ipsum dolor sit amet.
               br
               | - Lorem ipsum dolor sit amet.

        .col-md-3
          .tbl-cell
             p - Lorem ipsum dolor sit amet.
               br
               | - Lorem ipsum dolor sit amet.
               br
               | - Lorem ipsum dolor sit amet.
               br
               | - Lorem ipsum dolor sit amet.
               br
               | - Lorem ipsum dolor sit amet.

        .col-md-3
          .tbl-cell
             p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga fugiat eveniet, tempora a! Laboriosam repellat maiores fugit praesentium ducimus possimus, quod assumenda!

        .col-md-12.row-ruler-last
          &nbsp;


block scripts
  script(src='/js/lib/jquery.js')
  script(src='/vendor/bootstrap.min.js')
