extends ../layouts/_default

block title
  |  Home

block content
  .page.page-landing
    .container
      .main-banner
        img.img-responsive(src='/images/slider1.jpg')
      .section(data-scroll-index='0')
        h3.title.text-center HOW IT WORKS
        p.info.text-center
          | 3doers is a collective 3d printing service.
          br
          | Here you can print your objects or find a designer to model your ideas.
        .row.steps
          .col-md-4
            .step
              figure: img(src='/images/step1_icon.png')
              h4 1. You upload a file
              a(href='#') Don't have a design yet?
          .col-md-4
            .step
              figure: img(src='/images/step2_icon.png')
              h4 2. A printer picks it
          .col-md-4
            .step
              figure: img(src='/images/step3_icon.png')
              h4
                | 3. Your object
                br
                | is delivered to you
        .control-links
          a.btn.btn-lg.btn-green(href='/project/upload') START PRINTING
      .box(data-scroll-index='1')
        .row
          .col-md-7
            .content.content-white
              h3 DO YOU HAVE A 3D PRINTER?
              p
                | You bought a 3d printer and you feel strong about your skills.
                br
                | Join our community and start getting paid for your work.
                br
                | We offer you
              br
              br
              br
              br
              br
              a.btn.btn-lg.btn-simple(href='/become') Become a printer
          .col-md-5
            .content.content-blue
              h3 ARE YOU A DESIGNER?
              p So you like to create awesome models with a 3d cad and you feel like taking it to the next level. Start designing for us and get paid for it.
              br
              br
              br
              br
              br
              a.btn.btn-lg.btn-simple-inverse(href='/profile/settings#upgradeYourProfile') Start designing
      .contact(data-scroll-index='2')
        .inner
          .row
            .col-lg-3.col-md-3
              h3 CONTACT US
              p.info Need help using our service? For business to business enquiries or any other requests, feel free to contact us at this address
                a(href='mailto:info@3doers.it')  info@3doers.it
          br
          br
          br
          .row
            .col-md-5.col-md-offset-7
              p.text.white Printing service in US and Europe
              p.text.green Design service worldwide
