doctype
head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    | &#x9;
    title 3doers
    | &#x9;
    meta(name='author', content='3doers.it')
    | &#x9;
    meta(name='description', content='newsletter call to action')
    | &#x9;
    meta(name='keywords', content='newsletter')
    | &#x9;
    meta(name='resource-type', content='document')
    | &#x9;
    style.
      body{
      color: #333;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 14px;
      line-height: 1.42857;
      }
      h1 {
      color: #4a4a4a;
      font-size: 18px;
      font-weight: 300;
      }
      h2 {
      margin: 0;
      font-size: 20px;
      font-style: italic;
      color: #4a4a4a;
      }
      h3 {
      font-size: 20px;
      margin: 0 0 30px 0;
      color: #4a4a4a;
      }
      p {
      color: #959495;
      font-size: 16px;
      font-weight: 300;
      }
      p1 {
      color: #4eb476;
      font-size: 18px;
      font-weight: normal;
      margin-bottom: 0;
      line-height: 1.1;
      }
      p2 {
      color: #959495;
      font-size: 12px;
      font-weight: 300;
      }
      a {
      color: #4eb476;
      text-decoration: none;
      }
      #page {
      width: 100%;
      max-width: 930px;
      padding: 0 15px;
      margin: 0 auto;
      }
      #header {
      width: 100%;
      max-width: 930px;
      margin: 0 auto 20px auto;
      }
      #bordo-sup {
      position: relative;
      width: 100%;
      margin: 10px 0 10px 0;
      border-bottom: 2px solid #e0e0d1;
      z-index: 1;
      }
      #call-one {
      position: relative;
      width: 50%;
      max-width: 400px;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      margin: 35px auto -40px auto;
      text-align: center;
      background: white;
      z-index: 10;
      }
      #center {
      width: 100%;
      margin: 40px auto 0 auto;
      text-align: center;
      clear: both;
      }
      #righa {
      max-width: 100%;
      margin-top: 70px;
      }
      #descr {
      margin: 0 auto;
      max-width: 180px;
      text-align: justify;
      }
      #descr1 {
      text-align: justify;
      }
      #descr2 {
      max-width: 520px;
      margin-bottom: 30px;
      }
      #icona {
      float: left;
      width: 30%;
      padding-left: 10px;
      padding-right: 10px;
      position: relative;
      }
      #figura {
      margin-bottom: 30px;
      text-align: center;
      }
      #thing {
      float: left;
      width: 85%;
      margin: 50px 0 2% 0;
      }
      #bordo-inf {
      float: left;
      width: 60px;
      clear: left;
      border-bottom: 2px solid #e0e0d1;
      margin-top: 65px;
      }
      #call-two {
      float: left;
      width: 85%;
      margin: 50px 0 8% 0;
      }
      #call-two-text {
      margin-left: 10px;
      margin-bottom: -50px;
      }
      #info {
      padding-left: 10px;
      }
  body
    #page
      #header
        a(href='http://www.3doers.it/accounts/signup', target='_blank')
          img(src='http://www.fritzfriend.altervista.org/3doers/landing/testata_landing_ita-06.png')
          #call-one
            img(src='http://www.fritzfriend.altervista.org/3doers/landing/pulsante_call1-07.png')
    #bordo-sup
    #center
      h1
        | 3Doers e&apos; un servizio di stampa 3D basato su un network selezionato
        br
        | Puoi stampare il tuo progetto o diventare uno stampatore e iniziare a lavorare per gli altri
      #descr1
        p2
          | Le tecnologie di stampa 3D consentono di produrre oggetti tridimensionali provenienti da un modello digitale solitamente sviluppato in CAD
          | o scansionato tramite apposite apparecchiature laser. Questi vengono prodotti tramite la sovrapposizione perfetta di strati
          | di polimeri condensati di varia natura in grado di aggregarsi per formare vera e propria materia solida.
          | Il risultato e&apos; la realizzazione di una figura che rispetta tutte e tre le misure nello spazio reale precedentemente realizzata al computer.
      #righa
        #icona
          #figura
            img(src='http://www.fritzfriend.altervista.org/3doers/step1_icon.png')
          p1
            | 1. Carica il file 3D e
            br
            |  vedi subito il costo
          br
          br
          #descr
            p2
              | Per salvare il tuo progetto in formato STL, apri il file con il tuo programma di modellazione e trasforma le geometrie in mesh,
              | controlla che il progetto sia un volume chiuso,
              | clicca su Salva o Esporta e scegli dal menu&apos; a tendina il formato .stl. Digita il nome che
              | vuoi dare al file e clicca sul pulsante Salva.
              | Se ti viene chiesto di specificare il tipo di file stl, scegli la tipologia Binary.
        #icona
          #figura
            img(src='http://www.fritzfriend.altervista.org/3doers/step2_icon.png')
          p1
            | 2. Il primo stampatore
            br
            |  libero lo realizzera&apos;
          br
          br
          #descr
            p2
              | Il file viene caricato in un database consultabile da tutti gli stampatori iscritti a 3Doers. Il primo stampatore disponibile
              | scarica il file e controlla la correttezza delle geometrie in modo che possano essere stampate. Nel momento in cui lo stampatore accetta
              | di stampare il file, si ha la possibilita&apos; di comunicare direttamente tramite una chat interna al portale.
        #icona
          #figura
            img(src='http://www.fritzfriend.altervista.org/3doers/step3_icon.png')
          p1
            | 3. L&apos;oggetto arriva
            br
            |  a casa tua
          br
          br
          #descr
            p2
              | Per agevolare stampatori e utenti, 3Doers si avvale di un servizio di spedizioni che porta direttamente l&apos;oggetto stampato in 3D dal
              | &quot;produttore al consumatore&quot;. In questo modo non avrete bisogno di recarvi fisicamente da chi realizza la stampa 3D e potrete usufruire
              | di una piu&apos; ampia rete di stampatori 3D sparsa in tutta Italia.
    #bordo-inf
    #thing
      #call-two-text
        h2 Non hai ancora un file in 3D?
        p
          | Vai su
          a(href='https://www.thingiverse.com/', target='_blank')
            img(src='http://www.fritzfriend.altervista.org/3doers/landing/thingiverse-logo-2013.png')
          br
          |
          | Scarica gratuitamente un file in formato .stl
          br
          | Caricalo sul nostro sito per stamparlo in 3D e averlo a casa
      #righa
        #icona
          #figura
            a(href='https://www.thingiverse.com/', target='_blank')
              img(src='http://www.fritzfriend.altervista.org/3doers/landing/nastro-08.jpg')
        #icona
          #figura
            a(href='https://www.thingiverse.com/', target='_blank')
              img(src='http://www.fritzfriend.altervista.org/3doers/landing/cover-08.jpg')
        #icona
          #figura
            a(href='https://www.thingiverse.com/', target='_blank')
              img(src='http://www.fritzfriend.altervista.org/3doers/landing/drone-08.jpg')
    #bordo-inf
    #call-two
      #call-two-text
        h2 Hai una stampante 3D?
        h3 Iscriviti a 3Doers e richiedi di diventare stampatore 3D.
        #descr2
          p2
            | Per far parte del network di stampatori di 3Doers dovrai superare dei test sulle tue capacita&apos; di stampa.
            | Questo ci permette di comprendere il tuo livello di conoscenza della stampa 3D e di garantire a chi richiede un oggetto stampato in 3D
            | un&apos;elevata qualita&apos; dell&apos;oggetto finito.
            | Ma non ti preoccupare, se non dovessi superare i test, ti aiuteremo a migliorare le tue capacita&apos;, cosi&apos; da poter successivamente entrare
            | nel network di stampa 3D.
      a(href='http://www.3doers.it/accounts/signup', target='_blank')
        img(src='http://www.fritzfriend.altervista.org/3doers/landing/call_news_ita-03-03.png')
      #info
        p
          | Per maggiori informazioni contattaci a
          a(href='mailto:info@3doers.it') info@3doers.it

