extends /layouts/_app

block content
	.page
		.container
			br
			br
			.row
				.col-md-10.col-md-offset-1
					.row
						.col-md-4
							.step
								img.img-circle(src='data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA0Njg3NSIgeT0iNzAiIHN0eWxlPSJmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MTBwdDtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj4xNDB4MTQwPC90ZXh0PjwvZz48L3N2Zz4=', style='width: 100px; height: 100px;')
						.col-md-4
							.step
								img.img-circle(src='data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA0Njg3NSIgeT0iNzAiIHN0eWxlPSJmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MTBwdDtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj4xNDB4MTQwPC90ZXh0PjwvZz48L3N2Zz4=', style='width: 100px; height: 100px;')
						.col-md-4
							.step
								img.img-circle(src='data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA0Njg3NSIgeT0iNzAiIHN0eWxlPSJmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MTBwdDtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj4xNDB4MTQwPC90ZXh0PjwvZz48L3N2Zz4=', style='width: 100px; height: 100px;')

		.bg-3doers
			.container
				ul
					li.checked
						a(href='#') Review
						div
							p You have 24 hours to review and accept this order before it goes automatically back to the Workplace.
					li.active
						a(href='#') Accepted
						div
							p You have 24 hours to review and accept this order before it goes automatically back to the Workplace.
					li
						a(href='#') Printing
						div
							p You have 24 hours to review and accept this order before it goes automatically back to the Workplace.
					li
						a(href='#') Shipping
						div
							p You have 24 hours to review and accept this order before it goes automatically back to the Workplace.

				.alert.alert-primary
					.media
						.media-left
							a(href='#')
								img.media-object(src='data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2MDkzNzUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg==', style='width: 50px; height: 50px')
						.media-body.media-middle
							.message
								strong Sam 
								| is currently reviewing this order and may contact you

				.job-review
					h4.job-name Small_frog.stl
					.row
						.col-md-8
							.job-details
								.row
									.col-md-5
										figure: img.img-responsive(src='images/job-preview-small.jpg')
									.col-md-7
										.info
											p
												strong COLOR: 
												| Blue
											p
												strong MATERIAL: 
												| ABS
											p
												strong AMOUNT: 
												| 2 pieces
											p
												strong VOLUME: 
												| 59.7 cm3
											p
												strong WEIGHT: 
												| 74 g
											p
												strong DIMENSIONS: 
												| 3.25 cm (W) 15.12 cm (H) 6.31(L)
						.col-md-4
							table.job-payment
								tbody
									tr
										td.desc Taxes:
										td.value 9.08 $
									tr
										td.desc 3Doers:
										td.value 8.54 $
									tr
										td.desc Printer:
										td.value 25.62 $
									tr
										td.desc Shipping:
										td.value -
									tr.separator-small
										td(col-span='2')
									tr
										td.desc.text-shadow-3doers Printer:
										td.value
											h3.normal 42.50 $
									tr
										td(colspan='2')
											p.final-price *Final price will include a shipping fee and will be calculated once the order has been accepted by a printer.
				.row
					.col-md-3
						.form-group
							a(href='#') Cancel order
					.col-md-4.col-md-offset-5
						.form-group
							a.btn.btn-xlg.btn-block.btn-green(href='#', data-toggle='modal', data-target='#paymentModal') PROCEED WITH PAYMENT
						p.text-muted.text-light.text-xsmall The payment will be secured on 3Doers account and won’t be released to the printer until the order has been completed and delivered to you.

				.page-subheader
					h3 Conversation with printer:

				.row
					.col-md-8
						.conversation
							.media
								.media-body.text-right
									.message Would you consider resizing the object?
									p.meta
										| By 
										strong Sam 
										| at 
										strong 11/Apr/2015 
										| at 
										strong 6:12 pm
								.media-right
									a(href='#')
										img.media-object(src='data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2MDkzNzUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg==', style='width:50px; height:50px')
							.media
								.media-left
									a(href='#')
										img.media-object(src='data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2MDkzNzUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg==')
								.media-body
									.message Hi Sam, I’m sorry but that’s exactly the size I need.
									p.meta
										| By 
										strong You 
										| at 
										strong 11/Apr/2015 
										| at 
										strong 8:25 pm
							form
								.form-group
									textarea.form-control(rows=4, placeholder='Write a comment')
								.row
									.col-xs-3.col-xs-offset-9
										button.btn.btn-md.btn-block.btn-green-inverse(type='submit') Send

				.modal.fade(id='paymentModal', role='dialog')
					.modal-dialog.modal-md
						.modal-content
							.modal-header
								button.close(data-dismiss='modal')
									span &times;
								h4.modal-title &nbsp;
							.modal-body
								h4.payment-title Payment
								table.job-payment
									tbody
										tr
											td.desc Price:
											td.value 42.50 $
										tr
											td.desc Shipping:
											td.value 8.54 $
										tr
											td(colspan='2')
												hr
										tr
											td.desc.text-shadow-3doers Total to Pay
											td.value
												h3.normal 50.95 $
								br
								.row
									.col-md-5
										.form-group
											a.btn.btn-xlg.btn-block.btn-green-inverse(href='#') Undo
									.col-md-7
										.form-group
											a.btn.btn-xlg.btn-block.btn-green(href='#') CANCEL ORDER
				br
				br