extends /layouts/_default

block content
	.page
		.container
			.row
				.col-md-4
					h5 ICON
				.col-md-4
					h5 ICON
				.col-md-4
					h5 ICON

		.bg-3doers
			.container
				ul
					li.checked
						a(href='#') Review
						div
							p You have 24 hours to review and accept this order before it goes automatically back to the Workplace.
					li.active
						a(href='#') Accepted
						div
							p You have 24 hours to review and accept this order before it goes automatically back to the Workplace.
					li
						a(href='#') Printing
						div
							p You have 24 hours to review and accept this order before it goes automatically back to the Workplace.
					li
						a(href='#') Shipping
						div
							p You have 24 hours to review and accept this order before it goes automatically back to the Workplace.

				.alert.alert-warning
					| Please wait for the user to complete the payment before proceeding with the printing.
					br
					| You’ll be notified when the money is secured on 3doers account.

				h4 Small_frog.stl
				.row
					.col-md-8
						div
							.row
								.col-md-4
									figure: img(src='data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2MDkzNzUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg==', style='width:100%')
								.col-md-8
									p
										strong COLOR: 
										| Blue
									p
										strong MATERIAL: 
										| ABS
									p
										strong AMOUNT: 
										| 2 pieces
									p
										strong VOLUME: 
										| 59.7 cm3
									p
										strong WEIGHT: 
										| 74 g
									p
										strong DIMENSIONS: 
										| 3.25 cm (W) 15.12 cm (H) 6.31(L)
					.col-md-4
						table
							tbody
								tr
									td Taxes:
									td 9.08 $
								tr
									td 3Doers:
									td 8.54 $
								tr
									td Shipping:
									td -
								tr
									td Printer:
									td 25.62 $
				a(href='#') Download STF file

				.page-header
					h3 Conversation with project owner:

				.row
					.col-md-8
						.conversation
							.media
								.media-body.text-right
									p Would you consider resizing the object?
									p
										| By 
										strong Sam 
										| at 
										strong 11/Apr/2015 
										| at 
										strong 6:12 pm
								.media-right
									a(href='#')
										img.media-object(src='data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2MDkzNzUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg==')
							.media
								.media-left
									a(href='#')
										img.media-object(src='data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2MDkzNzUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg==')
								.media-body
									p Hi Sam, I’m sorry but that’s exactly the size I need.
									p
										| By 
										strong You 
										| at 
										strong 11/Apr/2015 
										| at 
										strong 8:25 pm
						form
							.form-group
								textarea.form-control(rows=4, placeholder='Write a comment')
							.text-right
								button.btn.btn-default(type='submit') Send
				br
				br