extends /layouts/_default

block content
	.page
		.container
			.row
				.col-md-4
					h5 ICON
				.col-md-4
					h5 ICON
				.col-md-4
					h5 ICON

		.bg-3doers
			.container

				h4 Small_frog.stl
				.row
					.col-md-8
						div
							.row
								.col-md-4
									figure: img(src='data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNjQiIGhlaWdodD0iNjQiIHZpZXdCb3g9IjAgMCA2NCA2NCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGRlZnMvPjxyZWN0IHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjEzLjQ2MDkzNzUiIHk9IjMyIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9nPjwvc3ZnPg==', style='width:100%')
								.col-md-8
									p
										strong COLOR: 
										| Blue
									p
										strong MATERIAL: 
										| ABS
									p
										strong AMOUNT: 
										| 2 pieces
									p
										strong VOLUME: 
										| 59.7 cm3
									p
										strong WEIGHT: 
										| 74 g
									p
										strong DIMENSIONS: 
										| 3.25 cm (W) 15.12 cm (H) 6.31(L)
					.col-md-4
						table
							tbody
								tr
									td Taxes:
									td 9.08 $
								tr
									td 3Doers:
									td 8.54 $
								tr
									td Shipping:
									td 8.45 $
								tr
									td Printer:
									td 25.62 $
				a(href='#') &lt;&lt; Back

				br
				br