extends /layouts/_app

block content
	.page
		.container
			br
			br
			.row
				.col-md-10.col-md-offset-1
					.row
						.col-md-4
							.step
								img.img-circle(src='data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA0Njg3NSIgeT0iNzAiIHN0eWxlPSJmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MTBwdDtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj4xNDB4MTQwPC90ZXh0PjwvZz48L3N2Zz4=', style='width: 100px; height: 100px;')
						.col-md-4
							.step
								img.img-circle(src='data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA0Njg3NSIgeT0iNzAiIHN0eWxlPSJmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MTBwdDtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj4xNDB4MTQwPC90ZXh0PjwvZz48L3N2Zz4=', style='width: 100px; height: 100px;')
						.col-md-4
							.step
								img.img-circle(src='data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA0Njg3NSIgeT0iNzAiIHN0eWxlPSJmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MTBwdDtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj4xNDB4MTQwPC90ZXh0PjwvZz48L3N2Zz4=', style='width: 100px; height: 100px;')

		.bg-3doers
			.container
				ul
					li.active
						a(href='#') Create order
						div
							p Preview your file and decide printing features.
					li
						a(href='#') Place order
						div
							p Preview your file and decide printing features.
					li
						a(href='#') Accepted
						div
							p Preview your file and decide printing features.
					li
						a(href='#') Printing
						div
							p Preview your file and decide printing features.
					li
						a(href='#') Shipping
						div
							p Preview your file and decide printing features.

				.job-order
					h4.job-name Small_frog.stl
					h5.job-volume
						strong VOLUME: 
						| 59.7 cm3
					.row
						.col-md-9
							.job-details
								.row
									.col-md-7
										figure: img.img-responsive(src='images/job-preview.jpg')
									.col-md-5
										form.form-3doers
											.form-group
												select.form-control
													option What color?
											.form-group
												select.form-control
													option What material?
											.form-group
												input.form-control(type='text', placeholder='How many items?')
											.row
												.col-sm-7
													h4.job-quotation Price quotation*:
												.col-sm-5
													h3.job-price 0 $
											p.text-muted.final-price
												small *Final price will include a shipping fee and will be calculated once the order has been accepted.
											button.btn.btn-lg.btn-block.btn-green(type='submit', disabled='disabled') PLACE ORDER
				.row
					.col-md-9
						.alert.alert-danger
							.text-light
								| Dimensions of the object might exceed printing sizes.
								br
								| You can proceed with the order anyway, but if no printer picks it up you might consider resizing the object.

				br
				br