extends /layouts/_app

block content
	.page
		.container
			br
			br
			.row
				.col-md-10.col-md-offset-1
					.row
						.col-md-4
							.step
								img.img-circle(src='data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA0Njg3NSIgeT0iNzAiIHN0eWxlPSJmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MTBwdDtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj4xNDB4MTQwPC90ZXh0PjwvZz48L3N2Zz4=', style='width: 100px; height: 100px;')
						.col-md-4
							.step
								img.img-circle(src='data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA0Njg3NSIgeT0iNzAiIHN0eWxlPSJmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MTBwdDtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj4xNDB4MTQwPC90ZXh0PjwvZz48L3N2Zz4=', style='width: 100px; height: 100px;')
						.col-md-4
							.step
								img.img-circle(src='data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA0Njg3NSIgeT0iNzAiIHN0eWxlPSJmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MTBwdDtkb21pbmFudC1iYXNlbGluZTpjZW50cmFsIj4xNDB4MTQwPC90ZXh0PjwvZz48L3N2Zz4=', style='width: 100px; height: 100px;')

		.bg-3doers
			.container
				div(role='tabpanel')
					ul.nav.nav-justified.nav-3doers
						li.nav-step.active
							a(href='#tab-review')
								span.step-one
								| Review
						li.nav-step
							a(href='#tab-accepted')
								span.step-two
								| Accepted
						li.nav-step
							a(href='#tab-printing')
								span.step-three
								| Printing
						li.nav-step
							a(href='#tab-shipping')
								span.step-four
								| Shipping
					.tab-content
						.tab-pane.fade.in.active(id='tab-review')
							h4.light You have 24 hours to review and accept this order before it goes automatically back to the Workplace.
						.tab-pane.fade(id='tab-accepted')
							h4.light You have 24 hours to review and accept this order before it goes automatically back to the Workplace.
						.tab-pane.fade(id='tab-printing')
							h4.light You have 24 hours to review and accept this order before it goes automatically back to the Workplace.
						.tab-pane.fade(id='tab-shipping')
							h4.light You have 24 hours to review and accept this order before it goes automatically back to the Workplace.

				.job-review
					h4.job-name Small_frog.stl
					.row
						.col-md-8
							.job-details
								.row
									.col-md-5
										figure: img.img-responsive(src='images/job-preview-small.jpg')
									.col-md-7
										.info
											p
												strong COLOR: 
												| Blue
											p
												strong MATERIAL: 
												| ABS
											p
												strong AMOUNT: 
												| 2 pieces
											p
												strong VOLUME: 
												| 59.7 cm3
											p
												strong WEIGHT: 
												| 74 g
											p
												strong DIMENSIONS: 
												| 3.25 cm (W) 15.12 cm (H) 6.31(L)
						.col-md-4
							table.job-payment
								tbody
									tr
										td.desc Taxes:
										td.value 9.08 $
									tr
										td.desc 3Doers:
										td.value 8.54 $
									tr
										td.desc Printer:
										td.value 25.62 $
									tr
										td.desc Shipping:
										td.value -
									tr.separator-small
										td(col-span='2')
									tr
										td.desc.text-shadow-3doers Price quotation*:
										td.value
											h3.normal 42.50 $
									tr
										td(colspan='2')
											p.final-price *Final price will include a shipping fee and will be calculated once the order has been accepted by a printer.
				div
					a(href='#', data-toggle='modal', data-target='#orderModal') Cancel order

				.modal.fade(id='orderModal', role='dialog')
					.modal-dialog.modal-md
						.modal-content
							.modal-header
								button.close(data-dismiss='modal')
									span &times;
								h4.modal-title &nbsp;
							.modal-body
								p
									| Once deleted the order won't be accesible anymore. 
									br
									| Do you want to proceed?
								br
								.row
									.col-md-5
										.form-group
											a.btn.btn-xlg.btn-block.btn-green-inverse(href='#') Undo
									.col-md-7
										.form-group
											a.btn.btn-xlg.btn-block.btn-green(href='#') CANCEL ORDER
				br
				br