extends /layouts/_default

block content
	.hidden-xs.hidden-sm(id='beta-label')
		img(src='images/beta_label.png', alt='3doers beta')
	.bg-3doers
		.container
			.page-header
				h3 Sign up
			br
			br
			.row
				.col-md-4
					form.form-3doers
						.form-group
							input.form-control(type='text', placeholder='username')
						.form-group.no-margin
							input.form-control(type='email', placeholder='email')
						.form-group.no-margin
							input.form-control(type='password', placeholder='password')
						.form-group.no-margin
							input.form-control(type='password', placeholder='confirm password')
						.form-group.no-margin
							input.form-control(type='text', placeholder='address')
						br
						.checkbox
							input(id='terms_conditions', type='checkbox')
							label(for='terms_conditions')
								| I accept 3doers 
								a(href='#') Privacy Policy 
								| and 
								br
								a(href='#') Terms and Conditions
						br
						.form-group
							button.btn.btn-xlg.btn-block.btn-green SIGN UP
			br
			br
			br