extends ../core/base

block base-scripts
  script.
    $(document).ready(
      function(event) {
        $(".header a[href='/profile/projects']").parent().addClass('active');
        $(".subnav a[href='#{ nav }']").parent().addClass('active');
      }
    );

block body
  div.subnav
    .container
      ul.nav.nav-tabs.design-base
        li#printing_request
          a(href="/design/requests")
            span Available Jobs
        li#printing_request
          a(href="/design/proposal")
            span Proposal Jobs
        li#jobs_available
          a(href="/design/jobs")
            span Accepted Jobs
        li#archived
          a(href="/design/archived")
            span Archived
      .line

    block content-profile

  include ../includes/publicity
