
extends base

block title
  |  Your Filemanager Jobs

block content-profile
  .container
    br
    br
    br
    br
    - if (projects.length == 0)
      p.info-3d There is not any project yet for this list.
    - for (project in projects)
      - project = projects[project]
      p.info-3d
        span.title FILE NAME:
        | #{ project.title }
      br
      br
      .row
        .col-md-8
          p.info-3d
            span.image.align-left
            span.title STATUS
            | #{project.humanizedStatus()}
        .col-md-4
          a.btn.btn-lg.btn-default.btn-goto(href='/filemanager/project/#{ project.id }')
            span GO TO THE
              br
              | PROJECT
      .separator-3d
        img(src='/img/img_separatori_lista.png')
      br

    br
    br
    br
    br

//- block extra-headers
//-   meta(name="csrf-token", content="#{csrfToken}")
//-
block scripts
    script(src='/js/views/printing_jobs.js')
