border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

box-shadow(n)
	-webkit-box-shadow n
	-moz-box-shadow n
	box-shadow n

transition(n)
	-webkit-transition n
	-moz-transition n
	transition n
