extends ../layouts/_basic

block title
  |  Signup Done

block content
  .bg-3doers
    .container
      .page-header
        h3 Thank you for registering with 3doers!
      br
      br
      .row
        .col-md-12
          p Your account has been created and a verification email has been sent to your registered email address. please click on the verification link included in the email to activate your account. Your account will not be activated until you verify your email address.
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
