extends ../base

block base-scripts
  script.
    $(document).ready(
      function(event) {
        $(".header a[href='/profile/projects']").parent().addClass('active');
        $(".subnav a[href='#{ nav }']").parent().addClass('active');
      }
    );

block body
  div.subnav
    .container
      ul.nav.nav-tabs
        li#projects
          a(href='/profile/projects')
            span Projects
        li#archived
          a(href='/profile/archived')
            span Archived

        li#projects
          a(href='/filemanager/projects')
            span Files
        li#archived
          a(href='/filemanager/archived')
            span Archived Files

      block content-profile

  include ../../includes/publicity
