extends ../base

block base-headers
  script.
    $(document).ready(
      function(event) {
        $(".header a[href='/profile/projects']").parent().addClass('active');
        $(".flange a[href='#{ nav }']").parent().addClass('active');
      }
    );

block body
  section.page.container1
    .flange
      ul
        li#projects
          a(href='/profile/projects') PROJECTS
          .background.activeline

        li#archived
          a(href='/profile/archived') ARCHIVED
          .background.activeline
      .line

    block content-profile

  include ../../includes/publicity
