<header>
  <nav class="navbar navbar-default navbar-3doers">
    <div class="container">
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" class="navbar-toggle collapsed"><span class="sr-only">Toggle Navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand"><img src="/images/logo.png" alt="3doers">
        </a>
      </div>
      <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
        <p class="navbar-text"><a href="#" data-scroll-goto="0" class="navbar-link">How it works</a>
        </p>
        <p class="navbar-text"><a href="#" data-scroll-goto="1" class="navbar-link">Join 3doers</a>
        </p>
        <p class="navbar-text"><a href="#" data-scroll-goto="2" class="navbar-link">Contact us</a>
        </p>
        <ul class="nav navbar-nav navbar-right">
          <li class="navbar-text"><a href="/accounts/login" class="navbar-link navbar-link-inverse">Log in</a>
          </li>
          <li style="padding:0; margin-left:0; margin-right:0" class="navbar-text"><span>/</span>
          </li>
          <li class="navbar-text"><a href="/accounts/signup" class="navbar-link navbar-link-inverse">Sign up</a>
          </li>
          <li class="dropdown">
            <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle"><img src="/images/share_icon.png">
            </a>
            <ul role="menu" class="dropdown-menu">
              <li><span>Spread the voice</span>
              </li>
              <li><a href="http://www.facebook.com/sharer/sharer.php?t=3Doers&amp;u=3doers.it" data-title="Facebook" class="social-popup"><i class="fa fa-fw fa-lg fa-facebook"></i>Share on facebook</a>
              </li>
              <li><a href="http://twitter.com/share?text=3Doers" data-title="Twitter" class="social-popup"><i class="fa fa-fw fa-lg fa-twitter"></i>Share on twitter</a>
              </li>
              <li><a href="https://plus.google.com/share?url=3doers.it" data-title="Google +" class="social-popup"><i class="fa fa-fw fa-lg fa-google-plus"></i>Share on google+</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
