<header>
  <nav class="navbar navbar-default navbar-3doers">
    <div class="container">
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" class="navbar-toggle collapsed"><span class="sr-only">Toggle Navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand"><img src="/images/logo.png" alt="3doers">
        </a>
      </div>
      <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
        <p class="navbar-text"><a href="/" class="navbar-link">Home</a>
        </p>
        <ul class="nav navbar-nav navbar-right">
          <li class="navbar-text">
            <a href="/message-notifications" class="navbar-link navbar-link-inverse message-notifications"><img src="/images/chat_normal.png">
            </a>
          </li>
          <li class="navbar-text"><a href="/notifications" class="navbar-link navbar-link-inverse notifications"><i id="notifID" class="notify-icon fluo-3doers"></i></a>
          </li>
          <li class="dropdown">
            <a href="/profile/settings"><img src="/{{ user.photo }}" style="width: 50px; height: 50px;">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
