
extends layout

block content
  .container
   .header
    ul.nav.nav-pills.pull-right
          li.active
            a(href='/') Home
          li
            a(href='upload') upload a project
          li
            a(href='become') become a printer
          li
            a(href='profile') you profile
          li
            button#btn-logout.btn
                 | Sign Out
        h3.text-muted iMake
    .jumbotron
        h1 Welcome to iMake
        p.lead find a 3d printer for your project or start printing others 
        
      
      .footer
        p © Company 2013
    
   

    include modals/alert
    include modals/confirm

block scripts
    script(src='/vendor/jquery.min.js')
    script(src='/vendor/jquery.form.js')
    script(src='/vendor/bootstrap-modal.js')
    script(src='/vendor/bootstrap-transition.js')
    script(src='/js/views/home.js')
    script(src='/js/controllers/homeController.js')
    script(src='/js/form-validators/accountValidator.js')