!!! 5
html
    head

        link(rel='stylesheet', href='/css/bootstrap.css')
        link(rel='stylesheet', href='/css/bootstrap-select.css')
        link(href='/css/narrow_jumbo.css', rel='stylesheet')
        link(src='/public/js/uploadController,js')
        script(src='/js/highlight.js')
    block content
    block scripts
    script(src='/js/GL3.js')