 
extends layout

block content
  .container
   
    ul.nav.nav-pills.pull-right
          li.active
            a(href='/') Home
          li
            a(href='upload') upload a project
          li
            a(href='become') become a printer
          li
            a(href='profile') you profile
          li
            button#btn-logout.btn
                 | Sign Out
        h3.text-muted iMake
    .jumbotron
           
           h2 Upload your design
           canvas#cv(width='640', height='300')
            | It seems you are using an outdated browser that does not support canvas :-(
           script(type='text/javascript', src='js/jsc3d.min.js')
           script(type='text/javascript')
              viewer = new JSC3D.Viewer(document.getElementById('cv'));
              viewer.setParameter('SceneUrl',         '#{tg}');
              viewer.setParameter('ModelColor',       '#CAA618');
              viewer.setParameter('BackgroundColor1', '#E5D7BA');
              viewer.setParameter('BackgroundColor2', '#383840');
              viewer.setParameter('RenderMode',       'smooth');
              viewer.init();
              viewer.update();
              var stl_loader = new JSC3D.StlLoader();
              stl_loader.loadFromUrl('');
              stl_loader.onload = function(scene) {
              viewer.replaceScene(scene);
              };
          p#ss
             | Object Volume: #{vol}
          p			 
             | file must be in stl format

          form(method='post', enctype='multipart/form-data', action='/file-upload')
             input(type='file', name='thumbnail')
             input(type='submit', name='upload')
          form(method='post', enctype='multipart/form-data', action='/price')
             select('materiali')
                option ABS
                option Nylon
                option POM
             select('densita')
                option bassa
                option media
                option alta
                option pieno
             input(type='submit', value='calcola prezzo')
      .footer
        p © Company 2013
    // /container
   

    include modals/alert
    include modals/confirm

block scripts
    script(src='/vendor/jquery.min.js')
    script(src='/vendor/jquery.form.js')
    script(src='/vendor/bootstrap-modal.js')
    script(src='/vendor/bootstrap-transition.js')
    script(src='/js/views/home.js')
    script(src='/js/controllers/upload.js')
    script(src='/js/controllers/homeController.js')
    script(src='/js/form-validators/accountValidator.js')
    script(src='/js/controllers/uploadController.js')
   
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='/javascripts/jquery.form.js')
    script(type='text/javascript')
        document.getElementById("ss").innerHTML =  #{vol};
        $("select").selectBoxIt({theme: "jqueryui"});