.container
	.jumbotron
		h1 Welcome to iMake
		p.lead Find a 3D printer or Share your 3D printer with the world and get paid for it
	.jumbotron
		a(href='/').brand  home
		a(href='/printing').brand  printing		
	.footer
	p © Company 2013
