
extends ../base

block title
  |  Upload Project

block extra-headers
  meta(name="csrf-token", content="#{csrfToken}")

block body
  .section.primary
    .container#content
      h1.page-header Send to Print
          h2.subtitle-upload Upload your STL and let us take care of the rest
      .preview-print#clickable-stl.col-md-6
        p#promptzone.upload
         img(src="/img/stl_icon.png")
         br
         a.btn-default.btn-lg Choose File
        #result
        .progress.hide
          .progress-bar(aria-valuemax='100', aria-valuemin='0', aria-valuenow='0', role='progressbar')
            span.sr-only  0% Complete


      br
      br
      br
block scripts
  script(src='/vendor/jquery.ajaxupload.js')
  script(src='/js/views/upload.js')

