
extends ../base

block title
  |  Upload Project

block extra-headers
  meta(name="csrf-token", content="#{csrfToken}")

block content

  .jumbotron

    h1 Upload your design

    p
    | File must be in STL format
    br
    div.row
      div.col-md-12
        #promptzone
          | Click here to choose images to upload
        #result
        .progress.hide
          .progress-bar(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100')
              span.sr-only 0% Complete


block scripts
  script(src='/js/views/upload.js')

