/* Backgrounds */
/* Fonts */
/* Colors */
body {
  background: #f3fff4;
  color: black; }

img {
  vertical-align: middle;
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

hr.hr-light {
  height: 2px;
  border-top: 2px solid #d8ffd2;
  margin: 30px 0; }

.main-holder {
  overflow: hidden; }

#header {
  padding: 40px 0; }

#footer {
  background: black;
  color: #d8ffd2;
  padding: 40px 0; }

.copyright {
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 14px;
  margin: 13px 0;
  line-height: 16px; }

.social-links {
  font-size: 32px;
  text-align: right; }
  .social-links a {
    border-radius: 50%;
    color: inherit;
    display: inline-block;
    *display: inline;
    height: 50px;
    text-align: center;
    width: 50px; }
  .social-links a:hover {
    background-color: #7bf282;
    color: black;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s; }

.square-social-link {
  background-color: black;
  color: #7bf282;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 32px;
  line-height: 53px;
  margin-right: 2px;
  text-align: center;
  box-shadow: inset 0 0 0 4px black, 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  width: 53px; }

.square-social-link:hover {
  box-shadow: inset 0 0 0 4px #7bf282, 0 0 1px rgba(0, 0, 0, 0);
  color: #7bf282; }

.favorite-count {
  background: url("../img/bg-favorite.png") left top no-repeat;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 53px;
  text-align: center;
  vertical-align: top;
  width: 44px; }

.favorite-count span {
  display: block;
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 22px;
  font-weight: bold;
  margin-top: 4px; }

/* Search Form */
.search-form {
  margin-bottom: 10px; }
  .search-form .form-control {
    background-color: #000000;
    border-radius: 0;
    color: #7bf282;
    display: inline-block;
    height: 53px;
    font-size: 30px;
    font-weight: normal;
    margin-right: 10px;
    width: 384px; }
  .search-form .form-control::-moz-placeholder {
    color: #7bf282;
    opacity: 1;
    text-shadow: none; }
  .search-form .form-control:-ms-input-placeholder {
    color: #7bf282;
    text-shadow: none; }
  .search-form .form-control::-webkit-input-placeholder {
    color: #7bf282;
    text-shadow: none; }
  .search-form button {
    display: none; }

.top-social-links {
  margin-bottom: 10px; }

/* Page Titles */
.page-title {
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 55px;
  font-style: italic;
  font-weight: bold;
  line-height: 56px;
  margin: 6px 0;
  position: relative;
  text-transform: uppercase; }
  .page-title span {
    display: inline-block;
    background-color: #7bf282;
    padding-right: 40px; }
  .page-title:before {
    background: #7bf282;
    content: "";
    display: block;
    height: 100%;
    left: -200%;
    position: absolute;
    top: 0;
    width: 200%; }

.page-title.small {
  font-size: 28px;
  line-height: 36px; }

.page-title.right span {
  display: block;
  padding-left: 40px;
  padding-right: 0; }
.page-title.right:before {
  display: none; }
.page-title.right:after {
  background: #7bf282;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  right: -200%;
  top: 0;
  width: 200%; }

.main-nav {
  margin-top: 30px;
  position: relative;
  text-align: center; }
  .main-nav ul {
    background: black;
    list-style: none;
    margin: 0;
    padding: 16px 0 8px 0; }
  .main-nav li {
    display: inline-block;
    margin-right: 18px;
    margin-left: 18px; }
  .main-nav a {
    color: #ffffff;
    font-family: "Bebas Neue", Helvetica, sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 42px;
    padding-left: 5px;
    padding-right: 5px;
    text-transform: uppercase; }
  .main-nav a:hover,
  .main-nav a:focus {
    text-decoration: none; }
  .main-nav li.active a,
  .main-nav li.active a:hover,
  .main-nav li.active a:focus {
    border-bottom: 3px solid #7bf282; }
  .main-nav li.active a:after {
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none 0 ease-in;
    transition: none; }
  .main-nav:after {
    background: black;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    right: -200%;
    top: 0;
    width: 200%; }

.simple-nav a {
  color: black;
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase; }
.simple-nav .nav.nav-pills {
  margin-right: -15px; }
.simple-nav .nav > li {
  margin-left: 15px;
  margin-right: 15px; }
.simple-nav .nav > li > a {
  border-radius: 0;
  padding: 0; }
.simple-nav .nav > li.active > a,
.simple-nav .nav > li > a:hover,
.simple-nav .nav > li > a:focus {
  color: black;
  background-color: transparent;
  text-decoration: none; }
.simple-nav .nav > li.active > a {
  border-bottom: 3px solid #7bf282; }
.simple-nav .nav > li.active > a:after {
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: none 0 ease-in;
  transition: none; }

/* Typography */
.h1-3d {
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 55px;
  font-style: italic;
  font-weight: bold;
  line-height: 56px; }

.h2-3d {
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 40px;
  font-style: italic;
  font-weight: 900;
  line-height: 34px;
  margin-top: 0; }

.h3-3d {
  font-family: "Titillium Web", Helvetica, sans-serif;
  font-size: 26px;
  font-style: italic;
  font-weight: 600;
  line-height: 28px; }

.h4-3d {
  font-family: "Titillium Web", Helvetica, sans-serif;
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
  line-height: 28px;
  margin-bottom: 20px; }

.h5-3d {
  font-family: "Titillium Web", Helvetica, sans-serif;
  font-size: 22px;
  font-style: italic;
  font-weight: 600;
  line-height: 24px; }

/* Links */
a.forgot-password,
a.create-account {
  color: #ff4d67;
  font-family: "Titillium Web", Helvetica, sans-serif;
  font-size: 22px;
  line-height: 40px; }

a.forgot-password:hover,
a.forgot-password:focus,
a.create-account:hover,
a.create-account:focus {
  color: black; }

/* Tools */
.clean-left {
  clear: left; }

/* Text */
.text-shadow-white {
  text-shadow: 3px 3px #d8ffd2; }

/* Sections */
.section {
  padding: 48px 0; }

.section.primary {
  background: #7bf282; }

/* Projects Section */
.project-single {
  margin-bottom: 30px;
  position: relative; }
  .project-single img {
    width: 100%;
    height: auto; }
  .project-single .info {
    background: rgba(123, 242, 130, 0.6);
    filter: alpha(opacity=0);
    height: 100%;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    width: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  .project-single .info::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
  .project-single .info:hover,
  .project-single .info:focus,
  .project-single .info.hover {
    filter: alpha(opacity=1);
    opacity: 1; }
  .project-single .info-wrapper {
    font-family: "Lato", Helvetica, sans-serif;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: 90%; }
  .project-single a {
    color: #ffffff; }
  .project-single a:hover {
    color: #000000; }

/* Community Section */
.community-single {
  margin-bottom: 20px; }
  .community-single img {
    width: 100%;
    height: auto; }

/* Printer */
.printer-properties h4 {
  font-family: "Titillium Web", Helvetica, sans-serif;
  font-size: 34px;
  font-style: italic;
  font-weight: bold;
  text-shadow: 3px 3px #d8ffd2;
  text-transform: uppercase; }
.printer-properties p {
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 22px;
  font-style: italic;
  font-weight: bold;
  text-shadow: 3px 3px #d8ffd2; }

.comment-user h3 {
  font-family: "Titillium Web", Helvetica, sans-serif;
  font-size: 41px;
  font-style: italic;
  font-weight: bold;
  text-shadow: 3px 3px #d8ffd2; }
.comment-user .comment {
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 19px;
  font-style: italic;
  font-weight: bold;
  padding-right: 100px;
  position: relative;
  text-shadow: 2px 2px #d8ffd2; }
.comment-user .comment:after {
  background: url("../img/icons_comment.png") right top no-repeat;
  content: '';
  height: 77px;
  right: 0;
  position: absolute;
  top: -15px;
  width: 93px; }

/* Separators */
.separator-3d {
  background: url("../img/separatori_lista.png") left center no-repeat;
  margin-bottom: 10px;
  padding-left: 20px;
  text-align: right; }

/* Info */
.info-3d {
  font-family: "Titillium Web", Helvetica, sans-serif;
  font-size: 22px;
  font-weight: bold; }
  .info-3d a {
    color: black;
    text-decoration: none; }
  .info-3d a:hover,
  .info-3d a:focus {
    text-decoration: underline; }
  .info-3d span.title {
    font-family: "Lato", Helvetica, sans-serif;
    font-size: 24px;
    font-style: italic;
    margin-right: 16px;
    text-shadow: 3px 3px #d8ffd2; }
  .info-3d span.price {
    font-size: 36px;
    font-style: italic;
    margin-right: 5px; }
  .info-3d span.currency {
    font-size: 25px;
    text-shadow: 3px 3px #d8ffd2; }
  .info-3d .align-right {
    margin-left: 30px; }
  .info-3d .align-left {
    margin-right: 30px; }

/* Media Objects */
.media {
  margin-bottom: 60px; }

.media > .pull-left {
  margin-right: 30px; }

.media-body {
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 19px;
  font-style: italic; }

/* Preview Print */
.preview-print {
  background-color: #e8e8e8;
  padding: 7% 5%;
  position: relative;
  text-align: center; }

.preview-print:after,
.preview-print:before {
  border: 4px dashed #000000;
  content: '';
  position: absolute; }

.preview-print:before {
  height: 98%;
  left: -2%;
  top: 8%;
  width: 98%; }

.preview-print:after {
  height: 92%;
  left: 2%;
  top: 3%;
  width: 96%; }

/* Back & Download Links */
.back-link {
  margin-top: 20px; }
  .back-link a {
    color: black;
    font-family: "Lato", Helvetica, sans-serif;
    font-size: 21px;
    font-style: italic; }
  .back-link img {
    margin-right: 20px; }

.download-link {
  margin-top: 20px;
  text-align: right; }
  .download-link a {
    color: black;
    font-family: "Lato", Helvetica, sans-serif;
    font-size: 23px;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase; }
  .download-link img {
    margin-left: 20px; }

/* Slider */
.main-slider-bottom {
  padding-left: 30%;
  padding-right: 10%;
  text-align: right; }

/* Others */
.file-revision {
  font-family: "Titillium Web", Helvetica, sans-serif;
  font-size: 66px;
  font-style: italic;
  font-weight: bold;
  line-height: normal;
  text-shadow: 3px 3px #d8ffd2;
  text-transform: uppercase; }
  .file-revision a {
    color: #000000;
    font-size: 25px; }

/* Tabs */
.nav-tabs {
  border-bottom-color: #7bf282; }

.nav-tabs > li > a {
  color: #000000;
  font-family: "Titillium Web", Helvetica, sans-serif;
  font-size: 41px;
  font-style: italic;
  font-weight: bold;
  line-height: 43px;
  padding: 10px 30px;
  text-transform: uppercase; }

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  background-color: #7bf282; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: #f3fff4;
  border-color: #7bf282;
  border-bottom-color: transparent;
  color: #000000; }

.nav-tabs > li.active > a span {
  background: url("../img/bg-active-tab.png") left center repeat-x; }

.tab-content {
  padding-bottom: 80px;
  padding-top: 80px; }

/* Buttons */
.btn {
  overflow: hidden;
  border-radius: 0;
  font-family: "Lato", Helvetica, sans-serif;
  position: relative;
  -webkit-transition: box-shadow 0.6s;
  -moz-transition: box-shadow 0.6s;
  transition: box-shadow 0.6s; }

.btn:hover,
.btn:focus {
  outline: none; }

.btn span {
  position: relative;
  z-index: 99; }

.btn:after {
  content: '';
  background: #d8ffd2;
  height: 0;
  top: 50%;
  left: 50%;
  opacity: 0;
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
  z-index: 1; }

.btn:hover:after {
  height: 102%;
  opacity: 1; }

.btn.btn-default {
  color: #7bf282;
  background: black;
  border: none;
  box-shadow: 4px -4px 0 #d8ffd2; }

.btn.btn-default:hover,
.btn.btn-default:focus {
  box-shadow: 4px -4px 0 black;
  color: black; }

.btn.btn-lg {
  font-size: 20px;
  font-style: italic;
  font-weight: 900;
  padding-bottom: 20px;
  padding-top: 20px; }

.btn.btn-xlg {
  font-size: 27px;
  font-style: italic;
  font-weight: 900;
  padding-bottom: 24px;
  padding-top: 24px; }

.btn.btn-red {
  background-color: black;
  border-color: black;
  box-shadow: 4px -4px 0 #f2542a;
  color: #f2542a; }

.btn.btn-red:hover,
.btn.btn-red:focus {
  background-color: #f2542a;
  border-color: #f2542a;
  box-shadow: 4px -4px 0 black;
  color: black; }

.btn.btn-goto {
  padding: 10px 60px;
  text-align: left; }

/* Form */
.form-control.input-text {
  color: black;
  border-radius: 0;
  box-shadow: 4px -4px 0 black; }

.form-control::-moz-placeholder {
  color: black;
  opacity: 1;
  text-shadow: 0 1px 0 #fff; }

.form-control:-ms-input-placeholder {
  color: black;
  text-shadow: 0 1px 0 #7bf282; }

.form-control::-webkit-input-placeholder {
  color: black;
  text-shadow: 0 1px 0 #7bf282; }

.form-control.dark {
  color: #d8ffd2;
  background: black;
  box-shadow: 4px -4px 0 #d8ffd2; }

.form-control.dark::-moz-placeholder {
  color: #d8ffd2;
  opacity: 1;
  text-shadow: 0 1px 0 #fff; }

.form-control.dark:-ms-input-placeholder {
  color: #d8ffd2;
  text-shadow: 0 1px 0 #7bf282; }

.form-control.dark::-webkit-input-placeholder {
  color: #d8ffd2;
  text-shadow: 0 1px 0 #7bf282; }

.input-lg {
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
  height: 60px;
  padding-bottom: 17px;
  padding-top: 17px; }

/* Effects */
a.hover-effect, .main-nav a, .simple-nav a, a.default-hover, a.primary-hover {
  position: relative;
  text-decoration: none; }

a.hover-effect::after, .main-nav a::after, .simple-nav a::after, a.default-hover::after, a.primary-hover::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #7bf282;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px); }

a.hover-effect:hover::after, .main-nav a:hover::after, .simple-nav a:hover::after, a.default-hover:hover::after, a.primary-hover:hover::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px); }

a.default-hover::after {
  background-color: black; }

a.primary-hover::after {
  background-color: #7bf282; }

/* Responsive */
@media (min-width: 992px) {
  .col-md-2-5 {
    width: 20%; } }
