extends base

block title
  |  Reset Password Done

block body
  div
    .container
        h1.page-title
          span Reset
        h1.page-title
          span Password
    br
    br
    .section.primary
      .container
        .row
          .col-md-6.col-sm-7
            | An e-mail has been sent to your e-mail address with further instructions.
    br
    br
    br
    include ../includes/publicity
    br
    br
    br

block scripts
  if locals.error
    script
      alert("#{locals.error}");

  if locals.errors
    - for (key in errors)
      script
        alert("#{key}: #{errors[key].msg}");
