extends ../layouts/_default

block title
  |  Reset Password

block content
  .hidden-xs.hidden-sm(id='beta-label')
    img(src='/images/beta_label.png', alt='3doers beta')
  .bg-3doers
    .container
      .page-header
        h3 Login
      br
      br
      .row
        .col-md-4
          form.form-3doers(action='/accounts/reset-password', method='POST', role='form', accept-charset='utf-8', name='reset-form')
            input(type='hidden', name='_csrf', value=csrfToken)
            .form-group
              input.form-control(type='text', placeholder='email', name='email')
            br
            .form-group
              button.btn.btn-lg.btn-block.btn-green RESET PASSWORD
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br

block scripts
  script(src='/js/views/login.js')
  if locals.error
    script
      alert("#{locals.error}");

  if locals.errors
    - for (key in errors)
      script
        alert("#{key}: #{errors[key].msg}");
