.col-md-10.col-md-offset-1
  .row
    .col-md-12
      .step
        h2 CHOOSE YOUR SOLUTION
        p
        | 3DOERS is the best solution lorem ipsum dolor sit amet, mea no labore dissentiunt, ad zril scripta copiosae ius.
        | Vel veniam vulputate et, id alia magna oporteat per. Qui idque offendit sensibus no. Per magna noluisse consetetur
        | no, cu ius novum nemore, ei vocent verterem laboramus eam.
