.header_block
  section.homepage.container1
    header
      .container-left
        a.logo(href='/')
          img(src='/img/logo_3doers.png', alt='3doers Icon')
      .container-right
        ul.login
          li
            p
              | COMING SOON....
  .login_background
    .login_bar