.col-md-10.col-md-offset-1
  .row
    .col-md-12
      .step
        h3 ANY DOUBTS OR QUESTIONS? CONTACT US
        p If you have any doubts about your .stl file, don’t worry! We will help you.
          br
          | Write to us your question at this address:
          br
          | info@3doers.it
          br
          | Our answer will be very quickly!
