.footer_block
  .container7
    footer
      .container-left
        .copyright ©2014 Artsy|AboutJobsPressOpen SourceTerms of UsePrivacy PolicyFeedback
      .container-right
        .share
          .addthis_toolbox
            a.addthis_button_facebook.sharebt(addthis:title='author_messages', addthis:url='', fb:like:href='')
              i.fa.fa-facebook
            a.addthis_button_twitter.sharebt(addthis:title='Rewend', addthis:url='', tw:url='')
              i.fa.fa-twitter
            a.addthis_button_google_plusone_share.sharebt(addthis:title='author_messages', addthis:url='')
              i.fa.fa-google-plus
            a.addthis_button_linkedin_share.sharebt(addthis:title='author_messages', addthis:url='')
              i.fa.fa-linkedin
    .footer_background
  script(src='/js/site.js')
