footer
  #footer
    .container
      .row
        //.col-md-7
        //  .copyright
        //    | © 2014 Artsy| About Jobs Press Open Source Terms of Use Privacy Policy Feedback
        .col-md-8
          .social-links
            a(href='#')
              span.fa.fa-google-plus
            a(href='#')
              span.fa.fa-facebook
            a(href='#')
              span.fa.fa-twitter
            a(href='#')
              span.fa.fa-linkedin-square