footer
  #footer(class=(user?'grey-footer':''))
    .container
      .row
          .social-links
            a(href='#')
              span.fa.fa-google-plus
            a(href='#')
              span.fa.fa-facebook
            a(href='#')
              span.fa.fa-twitter
            a(href='#')
              span.fa.fa-linkedin-square