.footer_block
  .container7
    footer
      .container-left
        .copyright
          | ©2014 Artsy|AboutJobsPressOpen SourceTerms of UsePrivacy PolicyFeedback
      .container-right
        include ../includes/share_tag
    .footer_background
