.row
 header
  #header
    unless user
      .container
        .row
          .col-md-6
            a(href='/')
              img(src='/img/logo.png')
          .col-md-6
            nav
              .main-nav
                ul
                  li
                    a(href='/accounts/login') LOG IN
                  li
                    a(href='/accounts/signup') SIGN UP
    else
       .container
        .row
            .clearfix
            .simple-nav
              nav
                ul.nav.nav-pills.col-md-offset-3


                  - if (user && user.filemanager == 'accepted' || user.printer != 'accepted')
                    li
                      a(data-toggle="modal", data-target="#uploadSTLModal")
                          img(src='/img/icons_printing.png')

                  - if (user && user.printer == 'accepted' || user.filemanager != 'accepted')
                    li
                      a(href='/design/stl')
                          img(src='/img/icon-1.png')
                  - if (user)
                    li
                        a(href='/profile/settings')
                            img(src='/img/icon-22.png')

            .simple-nav.description-to-hide
                nav
                    ul.nav.nav-pills.col-md-offset-3
                        - if (user && user.filemanager == 'accepted' || user.printer != 'accepted')
                            li
                                p
                                b Send to Print
                                p Upload an STL file,
                                p see price and order
                                p your print
                        - if (user && user.filemanager != 'accepted')
                            li
                                p
                                b Find a Designer
                                p Describe your project
                                p and see the best
                                p Designer for you
                        - if (user)
                            li
                                p
                                b Upgrade your Profile
                                p Are you a Printer or a Designer?
                                p Click here to Upgrade your profile
                                p and start print or design for other

include ../modals/upload-stl