.no-padding.grey-3doers
  .container
    .margin-header-10
     .row
        .col-md-2
          .logo-wrapper.nav-bar-logo
            a(href='/')
              img(src='/img/logo.png')
        .margin-top-navbar
            .col-md-1.col-md-offset-8.margin-top-navbar
              .logo-wrapper.pull-right
                 a(href='/notifications')
                    i.glyphicon.glyphicon-bell.white-3doers.icon-dimension
                        div#notifID.circle.pull-right
            .col-md-1
                .logo-wrapper.pull-right.thumbnail.profile-thumb
                    a(href='/profile/settings')
                        img(src='/#{ user.photo }')