.container
    .row.margin-header-10
     .col-md-2
      .logo-wrapper.nav-bar-logo
        a(href='/')
          img(src='/img/logo.png')
     .col-md-1.col-md-offset-8
      .logo-wrapper.pull-right
         a(href='/')
            i.glyphicon.glyphicon-envelope.black-3doers.icon-dimension
     .col-md-1
      .logo-wrapper.pull-right
         a(href='/profile/notifications')
            i.glyphicon.glyphicon-flag.black-3doers.icon-dimension