div.publicity_block
  section.homepage.container6
    div.publicity
      div.container-left
        img(alt='3doers image', src='/img/publicity_homepage.png')
      div.container-right
        p
          span
            | WELCOME TO 3DOERS
            br
          span
            | FIND A 3D PRINTER FOR YOUR PROJECT
            br
          span
            | OR START PRINTING OTHERS
  div.publicity_comment_background
    div.publicity_bar1
    div.publicity_bar2
    div.publicity_bar3
