extends ../base

block base-scripts
  script.
    $(document).ready(
      function(event) {
        $(".header a[href='/profile/projects']").parent().addClass('active');
        $(".subnav a[href='#{ nav }']").parent().addClass('active');
      }
    );

block body
  div.subnav
    .container
      ul.nav.nav-tabs
        li#printing_request
          a(href="/printing/requests")
            span Printing Request
        li#jobs_available
          a(href="/printing/jobs")
            span Jobs Available
        li#archived
          a(href="/printing/archived")
            span Archived
      .line

    block content-profile

  include ../../includes/publicity
