!!! 5
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='author', content='iMake')
    meta(name='description', content='find a 3d printer for your project or start printing others')

    title
      | iMake ::
      block title

    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/application.css')
    script(src='http://code.jquery.com/jquery-1.10.2.min.js')
    script(src='http://code.jquery.com/jquery-migrate-1.0.0.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')
    script(src='/js/lib.js')
    script(src='/js/common.js')

    script.
      $(document).ready(
        function(event) {
          $(".header a[href='#{ nav }']").parent().addClass('active');
        }
      );

  body
    .container
      include includes/header
      block content
      include includes/footer

    block scripts
