!!! 5
//if lt IE 7
  | [if lt IE 7]
//if lt IE 7
  | [if lt IE 7]
//if lt IE 7
  | [if lt IE 7]
//if IE 7
  | [if IE 7]
//if IE 7
  | [if IE 7]
//if IE 7
  | [if IE 7]
//if IE 8
  | [if IE 8]
//if IE 8
  | [if IE 8]
//if IE 8
  | [if IE 8]
html.no-js(lang="en", "xmlns:fb"="http://ogp.me/ns/fb#")
  head
    meta(charset='utf-8')
    title
      | 3doers ::
      block title

    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')

    block header-seo
      meta(name='description', content='')
      meta(name='keywords')

    block open-graph
      meta(property='og:title')
      meta(property='og:type', content='website')
      meta(property='og:description')
      meta(property='og:url', content='http://3doers.it')
      meta(property='og:image')
      meta(property='og:site_name', content='3doers')
      meta(property='fb:app_id')

    // Favicons and touch icons
    // For retina-display iPads
    link(type='image/png', sizes='144x144', rel='apple-touch-icon-precomposed', href='/img/apple-touch-icon-144x144-precomposed.png')
    // For retina-display iPhones
    link(type='image/png', sizes='114x114', rel='apple-touch-icon-precomposed', href='/img/apple-touch-icon-144x144-precomposed.png')
    // For iPad 1
    link(type='image/png', sizes='72x72', rel='apple-touch-icon-precomposed', href='/img/apple-touch-icon-72x72-precomposed.png')
    // For iPhone 3G, iPod Touch and Android
    link(type='image/png', rel='apple-touch-icon-precomposed', href='/img/apple-touch-icon-57x57-precomposed.png')
    // For Nokia
    link(rel='shortcut icon', href='/img/apple-touch-icon-original.png')
    // For everything else
    link(type='image/png', rel='shortcut icon', href='/img/favicon.png')
    link(type='image/x-icon', rel='shortcut icon', href='/img/favicon.ico')

    link(href='/css/fonts.css', rel='stylesheet')
    link(href='/css/application.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    // if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')

    script.
      function toggle(){
        $(".myprofileitem").fadeToggle('slow','linear');
      }

    block extra-headers

  body
    .main-holder
      include includes/header

      section#content
        block body

      include includes/footer

    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='http://code.jquery.com/jquery-migrate-1.2.1.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='/js/lib.js')
    script(src='/js/common.js')
    script(src='/vendor/bootstrap.min.js')

    block base-scripts
    block scripts

    script.
      $(document).ready(
        function(event) {
          $("ul.menu a[href='#{ nav }']").addClass('active');
          $(".fittext").fitText();
        }
      );
