.center-block {float: none !important}

.ui-autocomplete {
  padding: 0;
  list-style: none;
  background-color: #fff;
  width: 218px;
  border: 1px solid #BBB;
  max-height: 350px;
  overflow-y: scroll;
  .ui-menu-item {
    a {
      border-top: 1px solid #CCC;
      display: block;
      padding: 4px 6px;
      color: #353D44;
      cursor: pointer;
    }
    &:first-child a {
      border-top: none;
    }
    a.ui-state-hover {
      background-color: #eee;
      color: #161A1C;
    }
  }
}

#promptzone {
  border: 3px dashed #ccc;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 30px;
  margin: 0 auto;
  margin-top: 20px;
  height: 80px;
  width: 450px;
}

.capitalize {text-transform:capitalize;}

.user-row {
  margin-bottom: 14px;
  &:last-child {
    margin-bottom: 0;
  }
}

.dropdown-user {
  margin: 13px 0;
  padding: 5px;
  height: 100%;
  &:hover {
    cursor: pointer;
  }
}

.table-user-information > tbody > tr {
  border-top: 1px solid rgb(221, 221, 221);
  &:first-child, > td {
    border-top: 0;
  }
}

.list {
  margin-left: 0;
  margin-right: 0;
}


textarea.comment {
  height: 100px;
  padding-bottom: 20px;
}