.nav-inline > li {
  padding-left: 10px;
  padding-right: 10px;
}
a {
  color: #77b3d4;
}
a:hover,
a:focus {
  color: #bab9b9;
}
a.link-inverse {
  color: #bab9b9;
}
a.link-inverse:hover,
a.link-inverse:focus {
  color: #77b3d4;
}
.navbar-3doers {
  margin-bottom: 0;
}
.navbar-3doers .navbar-text > .navbar-link {
  border-bottom: 3px solid transparent;
  color: #4a4a4a;
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 3px;
  text-decoration: none;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}
.navbar-3doers .navbar-text > .navbar-link:hover,
.navbar-3doers .navbar-text > .navbar-link:focus {
  border-bottom-color: #88d6a7;
}
.navbar-3doers .navbar-text > .navbar-link.navbar-link-inverse {
  color: #4eb476;
}
.navbar-3doers li.navbar-text > .navbar-link {
  display: inline;
  padding: 0 0 3px 0;
}
.navbar-3doers .dropdown > a {
  padding-bottom: 10px;
  padding-top: 10px;
}
.navbar-3doers .dropdown-menu {
  box-shadow: 1px 1px 1px #7bf282;
  min-width: 240px;
  margin-top: 4px !important;
}
.navbar-3doers .dropdown-menu > li {
  margin: 10px 0;
}
.navbar-3doers .dropdown-menu > li > span {
  display: block;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 3px 20px;
}
.navbar-3doers .dropdown-menu > li > a,
.navbar-3doers .dropdown-menu > li > span {
  font-weight: 300;
}
.navbar-3doers .dropdown-menu > li > a {
  color: #bab9b9;
}
.navbar-3doers .dropdown-menu > li > span {
  color: #4a4a4a;
}
.navbar-3doers .dropdown-menu > li > a:hover,
.navbar-3doers .dropdown-menu > li > a:focus {
  background-color: transparent;
  color: #4a4a4a;
}
.navbar-3doers .dropdown-menu > li > a .fa {
  font-size: 1.8em;
  margin-right: 16px;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
  background-color: #fff;
}
.main-banner {
  position: relative;
  text-align: center;
}
.main-banner .caption {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.main-banner .caption:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.main-banner .caption .slogan {
  display: inline-block;
  vertical-align: middle;
  width: 90%;
}
.slogan h1 {
  color: #FFFFFF;
  font-weight: 500;
  margin-bottom: 5px;
  -webkit-text-shadow: 1px 1px 0 #7bf282;
  -moz-text-shadow: 1px 1px 0 #7bf282;
  text-shadow: 1px 1px 0 #7bf282;
}
.slogan h3 {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
  margin-top: 5px;
  -webkit-text-shadow: 1px 1px 0 #4EB476;
  -moz-text-shadow: 1px 1px 0 #4EB476;
  text-shadow: 1px 1px 0 #4EB476;
}
#footer {
  border-top: 1px solid #126f76;
  padding-bottom: 20px;
  padding-top: 20px;
}
#footer .nav-inline,
#footer .nav-social {
  margin-bottom: 0;
}
#footer .nav-social {
  text-align: right;
}
#footer .nav-inline > li > a {
  color: #4a4a4a;
  font-size: 12px;
  font-weight: 300;
  line-height: 30px;
}
#footer .nav-social > li > a {
  background-color: #88d6a7;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 17px;
  height: 30px;
  text-align: center;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  width: 30px;
}
#footer .nav-social > li > a:hover,
#footer .nav-social > li > a:focus {
  background-color: #126f76;
}
#footer .nav-social > li > a .fa {
  line-height: 30px;
}
.section .title {
  color: #4a4a4a;
  font-weight: normal;
  margin-bottom: 18px;
  margin-top: 35px;
}
.section .info {
  color: #959495;
  font-size: 16px;
  font-weight: 300;
}
.section .control-links {
  margin-bottom: 60px;
  margin-top: 30px;
  text-align: center;
}
.section .control-links .btn-lg {
  font-size: 16px;
  min-width: 220px;
  padding: 14px 16px;
}
.steps {
  margin-top: 70px;
}
.step {
  margin-bottom: 30px;
  text-align: center;
}
.step h4 {
  color: #4eb476;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 0;
}
.step a {
  color: #bab9b9;
  font-weight: 300;
}
.step a:hover,
.step a:focus {
  color: #4a4a4a;
}
.box {
  border: 3px solid #77b3d4;
  margin-top: 30px;
  margin-bottom: 20px;
}
.box .content {
  padding: 55px 30px;
}
.box .content h3 {
  font-size: 24px;
  font-weight: 500;
  margin-top: 0;
}
.box .content p {
  font-size: 16px;
  font-weight: 300;
  min-height: 150px;
}
.box .content .btn-lg {
  font-size: 16px;
  min-width: 220px;
  padding: 14px 16px;
}
.box .content-white h3 {
  color: #77b3d4;
}
.box .content-white p {
  color: #9b9b9b;
}
.box .content-blue {
  background-color: #77b3d4;
}
.box .content-blue h3 {
  color: #fff;
}
.box .content-blue p {
  color: #f3fff4;
  text-align: justify;
}
.box .content.printer-bg {
  background-image: url("../images/printer_icon.png");
  background-repeat: no-repeat;
  background-position: 95% 90%;
}
.contact {
  background: url("../images/contactus_background.png") left top no-repeat;
  background-size: cover;
  padding: 30px;
}
.contact h3 {
  color: #fff;
  font-weight: normal;
  margin-top: 0;
}
.contact .info {
  color: #a5cfd2;
  font-size: 16px;
  font-weight: 300;
}
.contact .info a {
  color: #b8f1ce;
}
.contact .info a:hover,
.contact .info a:focus {
  color: #fff;
}
.contact .inner {
  background: url("../images/worldmap.png") right top no-repeat;
}
.contact .text {
  font-weight: 300;
  margin-bottom: 0;
}
.contact .text.white {
  color: #fff;
}
.contact .text.green {
  color: #88d6a7;
}
.page-info {
  color: #bab9b9;

  h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
  }
}
.page-header,
.page-subheader {
  border-bottom: 1px solid #dde5de;
  color: #4a4a4a;
  margin: 40px 0 20px;
  padding-bottom: 7px;
}
.page-subheader h3 {
  font-size: 22px;
}
.btn {
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.btn-md {
  font-size: 16px;
  padding: 8px 14px;
}
.btn-xlg {
  font-size: 16px;
  line-height: 1.5;
  padding: 14px 18px;
}
.btn-simple {
  border: 2px solid #77b3d4;
  border-radius: 5px;
  color: #77b3d4;
}
.btn-simple:hover,
.btn-simple:focus {
  background-color: #77b3d4;
  border-color: #77b3d4;
  color: #fff;
}
.btn-simple-inverse {
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
}
.btn-simple-inverse:hover,
.btn-simple-inverse:focus {
  background-color: #fff;
  color: #77b3d4;
}
.btn-green {
  background-color: #88d6a7;
  border-radius: 5px;
  color: #fff;
}
.btn-green:hover,
.btn-green:focus {
  background-color: #65bb87;
  color: #fff;
}
.btn-green-inverse {
  background-color: transparent;
  border: 2px solid #88d6a7;
  color: #88d6a7;
}
.bg-3doers {
  background-color: #f3fff4;
}
.navbar-brand {
  height: 72px;
  padding: 5px 15px;
}
.navbar-text {
  margin-bottom: 26px;
  margin-top: 26px;
}
.navbar-toggle {
  margin-top: 18px;
}
.navbar-default {
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #126f76;
}
.navbar .nav > li > .dropdown-menu:before {
  position: absolute;
  top: -10px;
  left: 9px;
  display: inline-block;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #dde5de;
  border-left: 10px solid transparent;
  border-bottom-color: rgba(0,0,0,0.2);
  content: '';
}
.navbar .nav > li > .dropdown-menu:after {
  position: absolute;
  top: -9px;
  left: 10px;
  display: inline-block;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  border-left: 10px solid transparent;
  content: '';
}
.navbar .navbar-right > li > .dropdown-menu:before,
.navbar .navbar-right > li > .dropdown-menu:after {
  right: 30px;
  left: auto;
}
.form-3doers .form-control {
  color: #4a4a4a;
  font-size: 18px;
  font-style: italic;
  -webkit-text-shadow: 1px 1px 0 #7bf282;
  -moz-text-shadow: 1px 1px 0 #7bf282;
  text-shadow: 1px 1px 0 #7bf282;
}
.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}
.upload-stl {
  background-color: #dde5de;
  border-radius: 5px;
  padding: 40px;
  text-align: center;
}
.upload-stl img {
  margin-bottom: 20px;
  margin-top: 50px;
}
#beta-label {
  height: 77px;
  left: 0;
  position: fixed;
  top: 74px;
  width: 51px;
}
.img-responsive {
  display: inline-block;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 960px;
  }
}
@media (max-width: 767px) {
  .navbar-3doers li.navbar-text {
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar .nav > li > .dropdown-menu:before,
  .navbar .nav > li > .dropdown-menu:after {
    content: none;
  }
  .slogan h1 {
    font-size: 26px;
  }
  .slogan h3 {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 0px;
  }
}
@media (max-width: 992px) {
  .contact .inner {
    background: none;
  }
  #footer .nav-inline,
  #footer .nav-social {
    text-align: center;
  }
  #footer .nav-social {
    margin-top: 20px;
  }
}


.container.walkthrough {
  h3 {
    color: #77B3D4;
    font-weight: 700;
  }
}

.container.walkthrough .nav-tabs,
.container.walkthrough .nav-tabs,
.container.walkthrough .nav-tabs {
  li {
    a {
      color: #555;
      font-size: 1.1em;
      font-weight: bold;
      text-decoration: none;
      border: none;
    }
  }

  li.active {
    font-weight: bold;
    border-bottom: 5px solid #77B3D4;

    a, a:focus, a:hover {
      font-size: 1.1em;
      color: #77B3D4;
      border: none;
    }
  }
}

.tab-content .step.walkthrough {
  a {
    color: white;
  }
}

#tab-open-design p a,
#tab-look-someone .step a {
  color: #4EB476;
}


.stl-ilustration.walkthrough {
  img {
    height: auto;
    width: 140px;
  }
}
