/* Backgrounds */
$bg-body: #f3fff4;
$bg-footer: #f3fff4;
$bg-footer-grey: #dde5de;
$bg-primary: #88D6A7;
$bg-orange: #f2542a;
$bg-blue: #77B3D4;
$bg-default-button: #000000;
$bg-main-nav: white;

/* Fonts */
$font-default-stack: "Helvetica Neue", Helvetica, sans-serif;
$font-primary-stack: "Lato", Helvetica, sans-serif;
$font-secondary-stack: "Titillium Web", Helvetica, sans-serif;
$font-nav-stack: "Bebas Neue", Helvetica, sans-serif;

/* Colors */
$default-color: #000000;
$primary-color: #7bf282;
$footer-color: #d8ffd2;
$green-color:#4EB476;
$link-color:#77B3D4;
$lite-blue:#B8F1CE;
$lite-grey:#BAB9B9;
$menu-item-color:#4A4A4A;
$shadow-color:#B8F1CE;
$contact-us-color:#A5CFD2;
$line-color :#126F76;

html,
body {
  margin:0;
  padding:0;
  height:100%;
}
.circular {
  width: 115px;
  height: 115px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border: solid;
}
#wrapper {
  min-height:100%;
  position:relative;
}
body {
  background: $bg-body;
  color: $default-color;
}

img {
  vertical-align: middle;
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

hr.hr-light {
  height: 2px;
  border-top: 2px solid #d8ffd2;
  margin: 30px 0;
}

.main-holder {
  overflow: hidden;
}

#header {
  padding: 40px 0;

}
.small-circular{
  width: 80px;
  height: 80px;
}

#content {
 margin-bottom: 7%;
}

#footer {
  background: $bg-body;
  color: $menu-item-color;
  border: 0px solid;
  border-top-width: 1px;
  padding: 15px 0;
  width: 100%;
  bottom: 0px;
  position: absolute;
}
.grey-bg{
  background-color:$bg-footer-grey!important;
}
.lite-grey-color{
  color:$lite-grey;
}

.copyright {
  font-family: $font-primary-stack;
  font-size: 14px;
  margin: 13px 0;
  line-height: 16px;
}

.social-links {
  margin-top:15px;
  font-size: 20px;
  text-align: center;
  margin-right: 0px!important;
  li {
    padding-right: 10px;
    a {
    padding: 7px 10px;
    background-color: $bg-primary;
    border-radius: 50%;
    display: inline!important;
    text-align: center;
    color:$bg-body;
    }
    a:hover {
      background-color: $bg-primary!important;
      color:$bg-body!important;
    }
  }
  li:first-child{
    a {
      padding-left: 14px;
      padding-right: 14px;
    }
  }


}
.circle{
    width:9px;
    height:9px;
    border-radius:25px;
    font-size:5px;
    color:red;
    text-align:center;
    background:red;
    z-index: 1;
}
.active-greeen-3doers{
  background-color: $primary-color;
}
.square-social-link {
  background-color: $default-color;
  color: $primary-color;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 32px;
  line-height: 53px;
  margin-right: 2px;
  text-align: center;
  box-shadow: inset 0 0 0 4px $default-color, 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition: box-shadow 0.3s;
  -moz-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  width: 53px;
}
.square-social-link:hover {
  box-shadow: inset 0 0 0 4px $primary-color, 0 0 1px rgba(0, 0, 0, 0);
  color: $primary-color;
}
.nav-bar-logo{
   width: 60%;
   margin-top: 3%;
}

.menu-item-color{
  font-weight: lighter;
  color:$menu-item-color;
}
.weight-normal{
  font-weight: normal;
}
.weight-medium{
  font-weight: 500;
}
.weight-lite{
  font-weight: lighter;
}

.margin-top-navbar {
  margin-top: 2.3%;
}
.margin-top-15{
  margin-top:15px
}
.margin-top-20{
  margin-top:20px
}
.menu-item {
  padding-bottom:10px!important;
  font-weight: lighter;
  font-size: 16px;
  color: $menu-item-color;
  font-family: $font-default-stack;
}
.menu-item-green {
  @extend .menu-item;

  color: $green-color;
}
.menu-item-green-active{
  @extend .menu-item-green;
  border-bottom: double 2px $green-color;

}
.menu-item-green:hover{
  color:$green-color!important;
}
.menu-span {
  padding-bottom: 15px;
  padding-top:15px;
  display: block;
}
.padding-left-20{
  padding-top:0px;
  padding-left: 20px;
}
.nav > li > a:hover{
  background-color: transparent;
}
.menu-item:hover{
  color:$menu-item-color;
  background-color: transparent;
}

.intro-text {
  min-height: 300px;
  background-image: url('../img/background/2x_main_pattern.png');
  padding-top: 100px;
  padding-bottom: 55px;
  color: #ffffff;
  &>span{
    padding-top:0px;
    color: #ffffff;
  }
  .intro-heading{
    font-size: 36px;
    padding-bottom: 0px;
    text-shadow: 1px 1px 0px #7BF282;
    font-family: $font-default-stack;
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
  }

}
.text-16{
  font-size: 16px;
}
.text-14{
  font-size: 14px;
}

.profile-thumb{
  width: 120%;
}
.margin-header-10{
  margin-top: 2%;
  margin-bottom: 2%;
}

.margin-header-30{
  margin-top: 8%;
  margin-bottom: 2%;
}
.black-3doers, .green-3doers a{
    color: black;
}
.green-color{
  color:$green-color
}

.white-3doers {
  color:#f3fff4;
}
.grey-3doers{
  background-color: #dde5de;

}
.btn-landing{
  height: 55px;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 16px;
}
#contact-us-container{
  background: url('../img/background/contactus_background.png') no-repeat;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 50px;

  p{
    color:$contact-us-color;
    a {
      color:$lite-blue;

    }
  }
  p:first-child{
    color:#ffffff;
  }
  div{
    div{
      p {
        color:$bg-primary;
      }
      p:first-child{
        color:#ffffff;
      }
    }
  }
}
.btn-landing:hover{
  text-decoration: none;

}
.blue-border{
  border: 6px solid $bg-blue;
  color:$bg-blue;
  background-color: $bg-body;
}
.blue-box{
  height: 100%;
 background-color: $bg-blue;
  color:#ffffff;
}
.btn-primary-landing{
  @extend .btn-landing;
  background-color: $bg-primary;
  text-shadow: 1px 1px 0px $bg-primary;
  color:#ffffff;
  &:hover{
    color:#ffffff;
  }
}

.btn-secondary-landing{
  @extend .btn-landing;
  border: 2px solid $bg-blue;
  text-shadow: 1px 1px 0px $bg-body;
  color:$bg-blue;
  &:hover{
    color:$bg-blue;
  }
}
.btn-secondary-reverse{
  @extend .btn-secondary-landing;
  background-color: $bg-blue;
  color :$bg-body;
  border-color:$bg-body;
  text-shadow: none;
  &:hover{
    color:$bg-body;
  }
}

.signup-message {
  font-family: $font-secondary-stack;
  font-size: 16px;
  font-weight: lighter;
  line-height: 40px;
  color:$lite-grey;
}
.no-border{
  border-width: 0px;
}
.margin-top-20{
  margin-top:20px;
}
.margin-top-40{
  margin-top:40px;
}
.margin-top-60{
  margin-top:60px;
}
.margin-top-80{
  margin-top:80px;
}
.btn-3doers-new{
  background: $bg-footer;
  border-radius: 15px;
}
.text-ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.no-padding{
  padding: initial;
  width: 100%;
}
.margin-bottom-20{
  margin-bottom:20px;
}
.padding-bottom-50{
  padding-bottom:50px;
}
.focused{
  border-color: red;
}
.align-top-menu{
  min-width: initial;
}
#img-multi-upload{
  width:25px;
  border:none;
  height:25px;
  margin-bottom:91px
}
.multi-upload{
  text-align:center
}
.multi-upload img{
  height:100px;
  width:100px;
  padding:5px;
  border:1px solid #e8debd
}
.icon-dimension{
    font-size: 42px;
}
.favorite-count {
  background: url('../img/bg-favorite.png') left top no-repeat;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 53px;
  text-align: center;
  vertical-align: top;
  width: 44px;
}
.favorite-count span {
  display: block;
  font-family: $font-primary-stack;
  font-size: 22px;
  font-weight: bold;
  margin-top: 4px;
}

/* Search Form */
.search-form {
  margin-bottom: 10px;
  float: right;

  .form-control {
    background-color: #000000;
    border-radius: 0;
    color: $primary-color;
    display: inline-block;
    height: 53px;
    font-size: 30px;
    font-weight: normal;
    margin-right: 10px;
    width: 384px;
  }
  .form-control::-moz-placeholder {
    color: $primary-color;
    opacity: 1;
    text-shadow: none;
  }
  .form-control:-ms-input-placeholder {
    color: $primary-color;
    text-shadow: none;
  }
  .form-control::-webkit-input-placeholder {
    color: $primary-color;
    text-shadow: none;
  }
  .top-social-links {
    display: inline;
  }
  button {
    display: none;
  }
}
.nav-3doers{
 border-radius: 0px;
  border: 0px solid;
  border-bottom-width: 1px;
  padding-bottom:10px;
  padding-top:10px;
}
.top-social-links {
  margin-bottom: 10px;
}

/* Page Titles */
.page-title {
  font-family: $font-primary-stack;
  font-size: 55px;
  font-style: italic;
  font-weight: bold;
  line-height: 56px;
  margin: 6px 0;
  position: relative;
  text-transform: uppercase;
  span {
    display: inline-block;
    background-color: $bg-primary;
    padding-right: 40px;
  }
  &:before {
    background: $bg-primary;
    content: "";
    display: block;
    height: 100%;
    left: -200%;
    position: absolute;
    top: 0;
    width: 200%;
  }
}
#title.page-title {
  background-color: $bg-primary;
}
.page-title.small {
  font-size: 28px;
  line-height: 36px;
}
.page-title.right {
  span {
    display: block;
    padding-left: 40px;
    padding-right: 0;
  }
  &:before {
    display: none;
  }
  &:after {
    background: $bg-primary;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    right: -200%;
    top: 0;
    width: 200%;
  }
}
.main-nav {
  margin-top: 30px;
  position: relative;
  text-align: center;
  ul {
    background: $bg-main-nav;
    list-style: none;
    margin: 0;
    padding: 16px 0 8px 0;
  }
  li {
    display: inline-block;
    margin-right: 18px;
    margin-left: 18px;
  }
  a {
    @extend .hover-effect;
    color: #ffffff;
    font-family: $font-nav-stack;
    font-size: 36px;
    font-weight: bold;
    line-height: 42px;
    padding-left: 5px;
    padding-right: 5px;
    text-transform: uppercase;
  }

  a:hover,
  a:focus {
    text-decoration: none;
  }
  li.active a,
  li.active a:hover,
  li.active a:focus {
    border-bottom: 3px solid $primary-color;
  }
  li.active a:after {
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none 0 ease-in;
    transition: none;
  }
  &:after {
    background: $bg-main-nav;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    right: -200%;
    top: 0;
    width: 200%;
  }
}
.simple-nav {
  a {
    @extend .hover-effect;
    color: $default-color;
    font-family: $font-nav-stack;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .nav.nav-pills {
    margin-right: -15px;
  }
  .nav > li {
    margin-left: 15px;
    margin-right: 15px;
  }
  .nav > li > a {
    border-radius: 0;
    padding: 0;
  }
  .nav > li.active > a,
  .nav > li > a:hover,
  .nav > li > a:focus {
    color: $default-color;
    background-color: transparent;
    text-decoration: none;
  }
  .nav > li.active > a {
    border-bottom: 3px solid $primary-color;
  }
  .nav > li.active > a:after {
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: none 0 ease-in;
    transition: none;
  }
  .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  	background: none;
  }
  .nav .dropdown-menu {
  	background-color: transparent;
  	border-color: transparent;
  	box-shadow: none;
  	text-align: right;
  }
  .nav .dropdown-menu > li > a {
  	display: inline;
  	padding: 0;
  }
  .nav .dropdown-menu > li > a:hover {
  	background: none;
  }
}

/* Typography */
.h1-3d {
  font-family: $font-primary-stack;
  font-size: 55px;
  font-style: italic;
  font-weight: bold;
  line-height: 56px;
}
.h2-3d {
  font-family: $font-primary-stack;
  font-size: 40px;
  font-style: italic;
  font-weight: 900;
  line-height: 34px;
  margin-top: 0;
}
.h3-3d {
  font-family: $font-secondary-stack;
  font-size: 26px;
  font-style: italic;
  font-weight: 600;
  line-height: 28px;
}
.h4-3d {
  font-family: $font-secondary-stack;
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
  line-height: 28px;
  margin-bottom: 20px;
}
.h5-3d {
  font-family: $font-secondary-stack;
  font-size: 22px;
  font-style: italic;
  font-weight: 600;
  line-height: 24px;
}

/* Links */
a.forgot-password,
a.create-account {
  font-family: $font-secondary-stack;
  font-size: 16px;
  font-weight: lighter;
  line-height: 40px;
  color:$lite-grey;
  text-decoration: underline;
}

a.create-account{
  color:$bg-blue;
}
a.forgot-password:hover,
a.forgot-password:focus,
a.create-account:hover,
a.create-account:focus {
  color: $default-color;
}
a.direct-link {
	color: $default-color;
	font-family: $font-primary-stack;
	font-size: 19px;
	font-style: italic;
	font-weight: bold;
}
a.direct-link-ship-address {
  color: $default-color;
  font-family: $font-primary-stack;
  font-size: 19px;
  font-style: italic;
  font-weight: bold;
  margin-left: 15px;
}

/* Tools */
.clean-left {
  clear: left;
}

/* Text */
.text-shadow-white {
  text-shadow: 3px 3px #d8ffd2;
}

/* Sections */
.section {
  padding: 10px 0 48px;
  position: relative;
}
.section.primary {
  background: $bg-primary;
}
.section.orange {
  background: $bg-orange;
}
.section.blue {
  background: $bg-blue;
  color: #efefef;
}

/* Hands */
.right-hand {
	position: absolute;
	right: 0;
	top: 0;
}
.right-hand.top {
	top: 20%;
	margin-top: -96px;
}
.right-hand.middle {
	top: 50%;
	margin-top: -96px;
}

/* Projects Section */
.project-single {
  margin-bottom: 30px;
  position: relative;

  img {
    width: 100%;
    height: auto;
  }

  .info {
    background: rgba(123,242,130,0.6);
    filter: alpha(opacity=0);
    height: 100%;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    width: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .info::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .info:hover,
  .info:focus,
  .info.hover {
    filter: alpha(opacity=1);
    opacity: 1;
  }
  .info-wrapper {
    font-family: $font-primary-stack;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: 90%;
  }
  a {
    color: #ffffff;
  }
  a:hover {
    color: #000000;
  }
}

/* Community Section */
.community-single {
  margin-bottom: 20px;
  img {
    width: 100%;
    height: auto;
  }
}

/* Printer */
.printer-properties {
  h4 {
    font-family: $font-secondary-stack;
    font-size: 34px;
    font-style: italic;
    font-weight: bold;
    text-shadow: 3px 3px #d8ffd2;
    text-transform: uppercase;
  }
  p {
    font-family: $font-primary-stack;
    font-size: 22px;
    font-style: italic;
    font-weight: bold;
    text-shadow: 3px 3px #d8ffd2;
  }
}
.comment-title-new{
  font-weight: bold;
  font-size: 31px;
}
.resize-title{
  font-size: 37px;
  font-style: normal;
}
.comment-title {
  position: relative
}
.comment-title > img {
  position: absolute;
  top: -20px;
  right: -130px;
}
.comment-user {
  h3 {
    font-family: $font-secondary-stack;
    font-size: 41px;
    font-style: italic;
    font-weight: bold;
    text-shadow: 3px 3px #d8ffd2;
  }
  .comment {
    font-family: $font-primary-stack;
    font-size: 19px;
    font-style: italic;
    font-weight: bold;
    padding-right: 100px;
    position: relative;
    text-shadow: 2px 2px #d8ffd2;
  }
  .comment:after {
    background: url('../img/icons_comment.png') right top no-repeat;
    content: '';
    height: 77px;
    right: 0;
    position: absolute;
    top: -15px;
    width: 93px;
  }
}
/* Comment Form */
.form-control.comment {
  border-radius: 0;
  height: 200px;
}
#comment-button {
  margin-top: 152px;
}

/* Separators */
.separator-3d {
  background: url('../img/separatori_lista.png') left center no-repeat;
  margin-bottom: 10px;
  padding-left: 20px;
  text-align: right;
}

/* Info */
.info-3d {
  font-family: $font-secondary-stack;
  font-size: 22px;
  font-weight: bold;

  a {
    color: $default-color;
    text-decoration: none;
  }
  a:hover,
  a:focus {
    text-decoration: underline;
  }

  span.title {
    font-family: $font-primary-stack;
    font-size: 24px;
    font-style: italic;
    margin-right: 16px;
    text-shadow: 3px 3px #d8ffd2;
  }
  span.price {
    font-size: 36px;
    font-style: italic;
    margin-right: 5px;
  }
  span.currency {
    font-size: 25px;
    text-shadow: 3px 3px #d8ffd2;
  }
  .align-right {
    margin-left: 30px;
  }
  .align-left {
    margin-right: 30px;
  }
}

/* Media Objects */
.media {
  margin-bottom: 60px;
}
.media > .pull-left {
  margin-right: 30px;
}
.media-body {
  font-family: $font-primary-stack;
  font-size: 19px;
  font-style: italic;
}
.media-meta {
  font-family: $font-secondary-stack;
  font-size: 14px;
  span {
    font-weight: bold;
  }
}

/* Preview Print */

.subtitle-upload{
  font-weight: normal;
  margin: 30px auto 50px;
  color: #676767;
}
.margin-img-10{
  margin-bottom: 7%;
}
.project-tile-status{
  font-weight: normal;
  font-size: 16px;
  margin-top: 3%;
}
#clickable {
	cursor: pointer;
}
.preview-print {
  background-color: #dde5de;
  padding: 7% 7% 7% 5%;
  position: relative;
  text-align: center;

  #wrapper-canvas {
    position: relative;
    margin: 0 auto;
    height: 300px;
    width: 80%;
    z-index: 999999;
  }

  .upload {
  	font-family: $font-primary-stack;
  	font-size: 44px;
  	font-style: italic;
  	font-weight: 900;
  	margin: 30px auto 70px;
  	text-align: center;
  	width: 70%;
  }

  .progress {
  	height: 50px;
  }
  .progress-bar {
  	background: url('../img/progress-bar.png');
  	color: #000000;
  	font-family: $font-primary-stack;
  	font-size: 40px;
  	font-weight: 900;
  	line-height: 50px;
  }
}
.preview-print:after,
.preview-print:before {
  //border: 4px dashed #000000;
  content: '';
  position: absolute;
}
.preview-print:before {
  height: 98%;
  left: -2%;
  top: 8%;
  width: 98%;
}
.preview-print:after {
  height: 92%;
  left: 2%;
  top: 3%;
  width: 96%;
}

.photoedit {
	margin-bottom: 40px;

	a, button {
		color: $default-color;
		font-family: $font-secondary-stack;
		font-size: 19px;
		font-style: italic;
		font-weight: bold;
		margin-left: 30px;
		vertical-align: bottom;
	}
}

/* Back & Download Links */
.back-link {
  margin-top: 20px;

  a {
    color: $default-color;
    font-family: $font-primary-stack;
    font-size: 21px;
    font-style: italic;
  }
  img {
    margin-right: 20px;
  }
}
.download-link {
  margin-top: 20px;
  text-align: right;

  a {
    color: $default-color;
    font-family: $font-primary-stack;
    font-size: 23px;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
  }
  img {
    margin-left: 20px;
  }
}

/* Slider */
.slider-3d {
	position: relative;

	.square {
		border: 6px solid #7bf282;
		height: 99%;
		left: 3%;
		position: absolute;
		top: 5%;
		width: 94%;
		z-index: 99;
	}
}
.main-slider-bottom {
  padding-left: 30%;
  padding-right: 10%;
  text-align: right;
}

/* Others */
.file-revision {
  font-family: $font-secondary-stack;
  font-size: 66px;
  font-style: italic;
  font-weight: bold;
  line-height: normal;
  text-shadow: 3px 3px #d8ffd2;
  text-transform: uppercase;

  a {
    color: #000000;
    font-size: 25px;
    margin-left: 10px;
  }
}
.exclamation {
	left: -30px;
	position: absolute;
	top: 0px;
	z-index: 99;
}
.h1-alert-payment {
  font-family: $font-primary-stack;
  font-size: 30px;
  font-style: italic;
  font-weight: 900;
  line-height: 31px;
  margin-bottom: 10px;
  margin-top: 10px;

  span, img {
    float: left;
  }
  img {
    margin-left: 20px;
    margin-top: 6px;
  }
}
.h1-blue-alert {
  font-family: $font-primary-stack;
  font-size: 34px;
  font-style: italic;
  font-weight: 900;
  line-height: 34px;

  img {
    float: left;
    margin-right: 30px;
  }
}

/* Tabs */
.nav-tabs {
  border-bottom-color: $primary-color;
}
.nav-tabs > li > a {
  color: #bab9b9;
  font-family: $font-secondary-stack;
  font-size: 41px;
  font-style: italic;
  //font-weight: bold;
  line-height: 43px;
  padding: 10px 30px;
//  text-transform: uppercase;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  background-color: $primary-color;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: $bg-body;
  border-color: $primary-color;
  border-bottom-color: transparent;
  color: #bab9b9;
}
.nav-tabs > li.active > a span {
  //background: url('../img/bg-active-tab.png') left center repeat-x;
}
.tab-content {
  padding-bottom: 80px;
  padding-top: 80px;
}

/* Collapse */
.panel-group-3d {
  .panel {
    background: none;
    box-shadow: none;
  }

  .panel-heading + .panel-collapse > .panel-body {
    border-top-color: transparent;
  }

  .panel-body {
    padding: 15px 0;
  }

  .panel-title {
    span {
      margin-right: 20px;
      font-family: $font-primary-stack;
      font-size: 24px;
      font-style: italic;
      text-shadow: 3px 3px #d8ffd2;
    }
    font-family: $font-secondary-stack;
    font-size: 22px;
    font-weight: bold;
  }

  .accordion-btn {
    background: url('../img/button_accordion.png') left top no-repeat;
    display: block;
    float: right;
    height: 43px;
    width: 43px;
  }
  .accordion-btn.collapsed {
    background: url('../img/button-accordion-h.png') left top no-repeat;
  }
  .accordion-btn:hover {
    opacity: 0.8;
  }

  .divider {
    border-top: 4px solid #7bf282;
    border-bottom: 4px solid #d8ffd2;
    margin-bottom: 50px;
    margin-top: 50px;
  }
}

/* Buttons */
.btn {
  overflow: hidden;
  border-radius: 0;
  font-family: $font-primary-stack;
  position: relative;
  -webkit-transition: box-shadow 0.6s;
  -moz-transition: box-shadow 0.6s;
  transition: box-shadow 0.6s;
}
.btn:hover,
.btn:focus {
  outline: none;
}
.btn span {
  position: relative;
  z-index: 99;
}
.btn:after {
  content: '';
  background: #d8ffd2;
  height: 0;
  top: 50%;
  left: 50%;
  opacity: 0;
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  width: 102%;
  z-index: 1;
}
.btn:hover:after,
.btn:focus:after {
  height: 102%;
  opacity: 1;
}
.btn.btn-default {
  color: $primary-color;
  background: $bg-default-button;
  border: none;
  box-shadow: 4px -4px 0 #d8ffd2;
}
.btn.btn-default:hover,
.btn.btn-default:focus {
  box-shadow: 4px -4px 0 $bg-default-button;
  color: $bg-default-button;
}
.btn.btn-lg {
  font-size: 20px;
  font-style: italic;
  font-weight: 900;
  padding-bottom: 20px;
  padding-top: 20px;
}
.btn.btn-xlg {
  font-size: 27px;
  font-style: italic;
  font-weight: 900;
  padding-bottom: 24px;
  padding-top: 24px;
}
.btn.btn-red {
  background-color: $bg-default-button;
  border: none;
  box-shadow: 4px -4px 0 #f2542a;
  color: #f2542a;
}
.btn.btn-red:hover,
.btn.btn-red:focus {
  background-color: #f2542a;
  box-shadow: 4px -4px 0 $bg-default-button;
  color: $default-color;
}
.btn.btn-white {
  background-color: #efefef;
  border: none;
  box-shadow: 4px -4px 0 #000000;
  color: #000000;
}
.btn.btn-white:hover,
.btn.btn-white:focus {
  background-color: #efefef;
  box-shadow: 4px -4px 0 $bg-default-button;
  color: $default-color;
}
.btn.btn-goto {
  padding: 10px 60px;
  text-align: left;
}
.btn.btn-xsmall {
  min-width: 150px;
}
.btn.btn-small {
  min-width: 250px;
}
.btn.btn-medium {
	min-width: 300px;
}

/* Form */
.resize-input-form{
  font-size: 20px;
  height: 40px;
}
.margin-address{
  margin-top:108px;
}
.form-control.input-text {
  color: $default-color;
  border-radius: 5px;
  //box-shadow: 4px -4px 0 $bg-default-button;
  font-family: $font-primary-stack;
  font-style: italic;
  font-weight: bold;
}
.form-control::-moz-placeholder {
  color: $default-color;
  opacity: 1;
  text-shadow: 0 1px 0 #fff;
}
.form-control:-ms-input-placeholder {
  color: $default-color;
  text-shadow: 0 1px 0 $primary-color;
}
.form-control::-webkit-input-placeholder {
  color: $default-color;
  text-shadow: 0 1px 0 $primary-color;
}
.form-control.dark {
  color: #d8ffd2;
  background: $bg-default-button;
  box-shadow: 4px -4px 0 #d8ffd2;
}
.form-control.dark::-moz-placeholder {
  color: #d8ffd2;
  opacity: 1;
  text-shadow: 0 1px 0 #fff;
}
.form-control.dark:-ms-input-placeholder {
  color: #d8ffd2;
  text-shadow: 0 1px 0 $primary-color;
}
.form-control.dark::-webkit-input-placeholder {
  color: #d8ffd2;
  text-shadow: 0 1px 0 $primary-color;
}
.input-lg {
  font-size: 25px;
  height: 60px;
  padding-bottom: 17px;
  padding-top: 17px;
}

/* Effects */
a.hover-effect {
	outline: none;
  position: relative;
  text-decoration: none;
}
a.hover-effect::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: $primary-color;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
}
a.hover-effect:hover::after,
a.hover-effect:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

a.default-hover {
  @extend .hover-effect;
  &::after {
    background-color: $default-color;
  }
}
a.primary-hover {
  @extend .hover-effect;
  &::after {
    background-color: $primary-color;
  }
}

/* Awesome Checbox & Radio */
.radio,
.checkbox {
	min-height: 22px;
	margin-bottom: 30px;
	margin-top: 30px;
	padding-left: 30px;
}
.radio + .radio,
.checkbox + .checkbox {
	margin-top: 0;
}
.checkbox label {
    display: inline-block;
    font-family: $font-primary-stack;
    font-size: 19px;
    font-style: italic;
    font-weight: bold;
    position: relative;
    padding-left: 15px; }
.checkbox label:before {
		border-radius: 6px;
    content: "";
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    margin-left: -30px;
    border: 4px solid #000000;
    background-color: transparent;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label:after {
    display: inline-block;
    font-style: normal;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0;
    top: 0px;
    margin-left: -30px;
    padding-left: 5px;
    padding-top: 1px;
    font-size: 20px;
    color: #ffffff; }
.checkbox input[type=checkbox] {
    display: none; }
.checkbox input[type=checkbox]:checked + label:after {
    font-family: 'Glyphicons Halflings';
    content: "\e014"; }
.checkbox input[type=checkbox]:disabled + label {
    opacity: 0.65; }
.checkbox input[type=checkbox]:disabled + label:before {
    background-color: #eeeeee;
    cursor: not-allowed; }
.checkbox.checkbox-circle label:before {
    border-radius: 50%; }

.checkbox-primary input[type=checkbox]:checked + label:before {
    background-color: #428bca;
    border-color: #428bca; }
.checkbox-primary input[type=checkbox]:checked + label:after {
    color: #fff; }

.checkbox-danger input[type=checkbox]:checked + label:before {
    background-color: #d9534f;
    border-color: #d9534f; }
.checkbox-danger input[type=checkbox]:checked + label:after {
    color: #fff; }

.checkbox-info input[type=checkbox]:checked + label:before {
    background-color: #5bc0de;
    border-color: #5bc0de; }
.checkbox-info input[type=checkbox]:checked + label:after {
    color: #fff; }

.checkbox-warning input[type=checkbox]:checked + label:before {
    background-color: #f0ad4e;
    border-color: #f0ad4e; }
.checkbox-warning input[type=checkbox]:checked + label:after {
    color: #fff; }

.checkbox-success input[type=checkbox]:checked + label:before {
    background-color: #5cb85c;
    border-color: #5cb85c; }
.checkbox-success input[type=checkbox]:checked + label:after {
    color: #fff; }

.radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
.radio label:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 22px;
    height: 22px;
    left: 0;
    margin-left: -30px;
    border: 1px solid #efefef;
    border-radius: 50%;
    background-color: #efefef;
    -webkit-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out; }
.radio label:after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 10px;
    height: 10px;
    left: 6px;
    top: 6px;
    margin-left: -30px;
    border-radius: 50%;
    background-color: #222222;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.radio input[type=radio] {
    display: none; }
.radio input[type=radio]:checked + label:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
.radio input[type=radio]:disabled + label {
    opacity: 0.65; }
.radio input[type=radio]:disabled + label:before {
    cursor: not-allowed; }

.radio-primary input[type=radio] + label:after {
    background-color: #428bca; }
.radio-primary input[type=radio]:checked + label:before {
    border-color: #428bca; }
.radio-primary input[type=radio]:checked + label:after {
    background-color: #428bca; }

.radio-danger input[type=radio] + label:after {
    background-color: #d9534f; }
.radio-danger input[type=radio]:checked + label:before {
    border-color: #d9534f; }
.radio-danger input[type=radio]:checked + label:after {
    background-color: #d9534f; }

.radio-info input[type=radio] + label:after {
    background-color: #5bc0de; }
.radio-info input[type=radio]:checked + label:before {
    border-color: #5bc0de; }
.radio-info input[type=radio]:checked + label:after {
    background-color: #5bc0de; }

.radio-warning input[type=radio] + label:after {
    background-color: #f0ad4e; }
.radio-warning input[type=radio]:checked + label:before {
    border-color: #f0ad4e; }
.radio-warning input[type=radio]:checked + label:after {
    background-color: #f0ad4e; }

.radio-success input[type=radio] + label:after {
    background-color: #5cb85c; }
.radio-success input[type=radio]:checked + label:before {
    border-color: #5cb85c; }
.radio-success input[type=radio]:checked + label:after {
    background-color: #5cb85c; }

.radio.radio-large {
  font-family: $font-primary-stack;
  font-size: 30px;
  font-style: italic;
  font-weight: 900;
  line-height: 32px;
  padding-left: 40px;
}
.radio.radio-large label:before {
  height: 36px;
  margin-left: -40px;
  width: 36px;
}
.radio.radio-large label:after {
  left: 13px;
  margin-left: -40px;
  top: 13px;
}
.design-base{
  > li>a{
    font-size: 39px;
  }
}
/*Chat*/
.mine-chat{
  > .pull-left{
    margin-right: initial;
    margin-left: 30px;
    float: right!important;
  }
  > .media-body{
    text-align: right;
  }
  >.media-meta{
    text-align: right;
  }
}
/* Modal */
.modal.modal-3d {
  .modal-dialog {
    box-shadow: 4px -4px 0 $primary-color;
  }
  .modal-content {
    border-color: #ffffff;
    border-radius: 0;
  }
  .modal-header {
    border-bottom-color: transparent;
    padding: 15px 30px 0 30px;

    h4 {
      font-family: $font-primary-stack;
      font-size: 24px;
      font-style: italic;
      font-weight: bold;
    }
  }
  .modal-body {
    padding: 15px 30px 25px 30px;
  }
}

#status {
  text-transform: uppercase;
  margin-right: 20px;
}

/* Home Banner */
.container.home-banner {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

/* Responsive */
@media (max-width: 768px) {
  .search-form {
    float: none;
    .form-control {
      display: block;
      margin-bottom: 10px;
      width: 100%;
    }
    .top-social-links {
      display: block;
      text-align: right;
    }
  }
  #comment-button {
    margin-top: 30px;
  }
  .comment-title > img {
    height: auto;
    position: absolute;
    right: 0px;
  }
}
@media (max-width: 992px) {
  .logo-wrapper {
    margin-bottom: 20px;
    text-align: center;
    float:left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
  }
}
@media (min-width: 992px) {
  .col-md-2-5 {
    width: 20%;
  }
}

@media (max-width: 479px) {
  .page-title {
    font-size: 30px;
    line-height: 31px;
  }
  .page-title.small {
    font-size: 18px;
  }
  .h1-3d {
    font-size: 48px;
  }
  .h2-3d {
    font-size: 32px;
  }
  .h4-3d {
    font-size: 20px;
  }
  a.forgot-password, a.create-account {
    font-size: 18px;
  }
  .input-lg {
    font-size: 18px;
  }
  .btn.btn-xlg {
    font-size: 22px;
    padding-bottom: 16px;
    padding-top: 16px;
  }
  .file-revision {
    font-size: 45px;
  }
  .comment-title > img {
    top: -10px;
    width: 20%;
  }
  .h1-alert-payment {
    font-size: 20px;
    line-height: 23px;
    text-align: left;
    span, img {
      float: none;
    }
    img {
      margin-left: 0;
    }
  }
  .printer-properties h4 {
    font-size: 26px;
  }
  .printer-properties p {
    font-size: 20px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .page-title {
    font-size: 35px;
    line-height: 36px;
  }
  .page-title.small {
    font-size: 24px;
  }
  .h1-3d {
    font-size: 50px;
  }
  a.forgot-password, a.create-account {
    font-size: 20px;
  }
  .input-lg {
    font-size: 20px;
  }
  .btn.btn-xlg {
    font-size: 24px;
    padding-bottom: 16px;
    padding-top: 16px;
  }
  .h1-alert-payment {
    font-size: 22px;
    line-height: 25px;
    img {
      margin-left: 10px;
    }
  }
  .printer-properties h4 {
    font-size: 28px;
  }
  .printer-properties p {
    font-size: 22px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .page-title {
    font-size: 45px;
    line-height: 46px;
  }
  .input-lg {
    font-size: 22px;
  }
  .comment-title > img {
    position: absolute;
    right: 0px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 1280px) {
  .container.home-banner {
    padding-left: 0;
    padding-right: 0;
    width: 1282px;
  }
}
.tile {
  padding: 5px;
  border: 2px solid;
  margin-left: 10px;
  border-radius: 5px;
}
#payment-modal{
  z-index: 99999999999;
}
.tile-projects{
  padding: 16px;
  margin-right: 4%;
  margin-bottom: 5%;
  border-color: #bab9b9;
  min-height: 281px;
}
.tile-projects:first-child{
  margin-left: 4%;
}

.fluo-3doers{
  color: #1BF22D;
}
.pending-request{
  line-height: 80px;
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  text-decoration: none;
}

  .tile > footer > form>input{
    margin-top: 13px;
    margin-left: 18%;
  }
.rejected_true{
  background-color: red;
}
.error-message{
  color: red;
  font-weight: bold;
  font-size: 17px;
}
.nav-circles{

  display:table;
  margin:auto;

  li{
    text-align: center;
    width: 250px;
    padding: 10px;
    display:table-cell;
    a{
      display: table;
      margin:auto;
    }
    h4{
      text-align: center;
    }
  }

}