.footer_block
  .container7
    %footer
      .container-left
        .copyright
          //todo certificare copyright
          ©2014 Artsy|AboutJobsPressOpen SourceTerms of UsePrivacy PolicyFeedback
      .container-right
        = partial "partials/share_tag", :locals => {:url => "",:twitter_url=>"", :twitter_title => "Rewend", :title => "author_messages"}

    .footer_background
