.menuheader_block
  %section.homepage.container1
    %header
      .container-left
        %a{href: "http://www.3doers.it", class: "logo"}
          %img{alt: "3doers Icon", src: "images/logo_3doers.png"}
      .container-right
        %ul.menu
          %li
            %p
              %a{href: ""}UPLOAD PROJECT
          %li
            %p
              %a{href: ""}BECOME A PRINTER
          %li
            %p
              %a{href: ""}BECOME A FILE MANAGER
          %li#myprofile
            %p
              %a{href: "javascript://nop", onclick: "toggle(this);"}MY PROFILE
            %p
              %a.myprofileitem{href: ""}USER
            %p
              %a.myprofileitem{href: ""}PRINTER
            %p
              %a.myprofileitem{href: ""}FILE MANAGER
            %p
              %a.myprofileitem{href: ""}EDIT PROFILE
          %li
            %p
              %a{href: ""}SIGN OUT

