.publicity_block
  %section.homepage.container6
    .publicity
      .container-left
        %img{alt: "3doers image", src: "images/publicity_homepage.png"}
      .container-right
        %p
          %span
            WELCOME TO 3DOERS
            %br
          %span
            FIND A 3D PRINTER FOR YOUR PROJECT
            %br
          %span
            OR START PRINTING OTHERS

  .publicity_comment_background
    .publicity_bar1
    .publicity_bar2
    .publicity_bar3