extends ../base

block base-scripts
  script.
    $(document).ready(
      function(event) {
        $(".header a[href='/profile/projects']").parent().addClass('active');
        $(".subnav a[href='#{ nav }']").parent().addClass('active');
      }
    );

block body
  div.subnav
    .container
      ul.nav.nav-tabs.design-base
        li#projects
          a(href='/profile/projects')
            span Projects
        li#archived
          a(href='/profile/archived')
            span Archived

        li#proposal
          a(href='/design/proposal')
              span Proposal
        li#projects
          a(href='/design/projects')
            span Files
        li#archived
          a(href='/design/profile/archived')
            span Archived Files

      block content-profile

  include ../../includes/publicity
