extends ../base

block base-scripts
  script.
    $(document).ready(
      function(event) {
        $(".header a[href='/profile/projects']").parent().addClass('active');
        $(".subnav a[href='#{ nav }']").parent().addClass('active');
      }
    );

block body
  div.subnav
    .container
      ul.nav.nav-tabs.design-base
        li#projects
          a(href='/profile/projects')
            span All Projects
        li#proposal
          a(href='/profile/onprint')
              span On Print
        li#projects
          a(href="/design/projects")
            span On Design
        li#archived
          a(href='/profile/archived')
            span Archived

      block content-profile


