| Hi #{user.firstName || user.username}
br
br
| The project you paid &nbsp;&nbsp;
a(href="#{site}/filemanager/project/#{project.id}") #{project.title}
| &nbsp;&nbsp;was been reviewed please take a look.