#comingsoonModal.modal.fade
    .modal-dialog
        .modal-content
            .modal-header
                .modal-title
                    h4 Coming Soon
                .modal-body
                    p
                        | Hi!! This super eroic functionality will be ready soon!!
                .modal-footer
                  a(class="btn-default btn-lg", data-dismiss="modal") Close
