| Hi #{user.firstName || user.username}
br
br
| Your project&nbsp;&nbsp;
a(href="#{site}/project/#{project.id}") #{project.title}
| &nbsp;&nbsp;was accepted please take a look, comment or pay today to start printing.