/* Bebas Neue */
@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/BebasNeueRegular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/BebasNeueRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueRegular.ttf") format("truetype"), url("../fonts/BebasNeueRegular.woff") format("woff"), url("../fonts/BebasNeue.svg") format("svg");
}
@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/BebasNeueBold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/BebasNeueBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBold.ttf") format("truetype"), url("../fonts/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeueBold.svg") format("svg");
}

/* Lato */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/LatoRegular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/LatoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoRegular.ttf") format("truetype"), url("../fonts/LatoRegular.woff") format("woff"), url("../fonts/LatoRegular.svg") format("svg");
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/LatoBold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/LatoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoBold.ttf") format("truetype"), url("../fonts/LatoBold.woff") format("woff"), url("../fonts/LatoBold.svg") format("svg");
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/LatoBlack.eot"); /* IE9 Compat Modes */
  src: url("../fonts/LatoBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoBlack.ttf") format("truetype"), url("../fonts/LatoBlack.woff") format("woff"), url("../fonts/LatoBlack.svg") format("svg");
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/LatoRegularItalic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/LatoRegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoRegularItalic.ttf") format("truetype"), url("../fonts/LatoRegularItalic.woff") format("woff"), url("../fonts/LatoRegularItalic.svg") format("svg");
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/LatoBoldItalic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/LatoBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoBoldItalic.ttf") format("truetype"), url("../fonts/LatoBoldItalic.woff") format("woff"), url("../fonts/LatoBoldItalic.svg") format("svg");
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/LatoBlackItalic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/LatoBlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoBlackItalic.ttf") format("truetype"), url("../fonts/LatoBlackItalic.woff") format("woff"), url("../fonts/LatoBlackItalic.svg") format("svg");
}

/* Titillium */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/TitilliumRegular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/TitilliumRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/TitilliumRegular.ttf") format("truetype"), url("../fonts/TitilliumRegular.woff") format("woff"), url("../fonts/TitilliumRegular.svg") format("svg");
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/TitilliumSemiBold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/TitilliumSemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/TitilliumSemiBold.ttf") format("truetype"), url("../fonts/TitilliumSemiBold.woff") format("woff"), url("../fonts/TitilliumSemiBold.svg") format("svg");
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/TitilliumBold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/TitilliumBold.eot?#iefix") format("embedded-opentype"), url("../fonts/TitilliumBold.ttf") format("truetype"), url("../fonts/TitilliumBold.woff") format("woff"), url("../fonts/TitilliumBold.svg") format("svg");
}
@font-face {
  font-family: 'Titillium Web';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/TitilliumRegularItalic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/TitilliumRegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/TitilliumRegularItalic.ttf") format("truetype"), url("../fonts/TitilliumRegularItalic.woff") format("woff"), url("../fonts/TitilliumRegularItalic.svg") format("svg");
}
@font-face {
  font-family: 'Titillium Web';
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/TitilliumSemiBoldItalic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/TitilliumSemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/TitilliumSemiBoldItalic.ttf") format("truetype"), url("../fonts/TitilliumSemiBoldItalic.woff") format("woff"), url("../fonts/TitilliumSemiBoldItalic.svg") format("svg");
}
@font-face {
  font-family: 'Titillium Web';
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/TitilliumBoldItalic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/TitilliumBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/TitilliumBoldItalic.ttf") format("truetype"), url("../fonts/TitilliumBoldItalic.woff") format("woff"), url("../fonts/TitilliumBoldItalic.svg") format("svg");
}