extends base

block title
  |  Login

block content
  .row
    div.well.col-md-5.center-block
      form(method="post", action="/accounts/login", role="form")
        h2 Please Login
        br

        .form-group
          label(for="username") Username
          input(type="text", name="username", id='username', placeholder="Enter your username").form-control

        .form-group
          label(for="password") Password
          input(type="password", name="password", id='password', placeholder="Enter your password").form-control

        button(type="submit").btn.btn-primary.btn-lg.btn-block
          span.glyphicon.glyphicon-lock
          | &nbsp;&nbsp;&nbsp;Sign in

        .checkbox
          label
            input(type="checkbox", checked='checked')
            | Remember Me

        div.btm-links
          a(href='#')#forgot-password Forgot Your Password?
          br
          a(href='/signup')#create-account Create An Account

  include ../modals/alert
  include ../modals/lost-password

block scripts
  script(src='/vendor/jquery.min.js')
  script(src='/vendor/jquery.form.js')
  script(src='/vendor/bootstrap-modal.js')
  script(src='/vendor/bootstrap-transition.js')
  script(src='/js/views/login.js')
  script(src='/js/controllers/loginController.js')
  script(src='/js/form-validators/loginValidator.js')
  script(src='/js/form-validators/emailValidator.js')