extends base

block title
  |  Login

block content
  .row
    div.well.col-md-5.center-block
      form(method="post", action="/accounts/login", role="form")
        h2 Please Login
        br
        - if (locals.error)
          div(class="alert alert-danger")
            = error

        input(type='hidden', name='_csrf', value=csrfToken)

        .form-group(class=(locals.errors && errors.username)?"has-error":"")
          label(for="username") Username
          input(type="text", name="username", id='username', placeholder="Enter your username", value=(locals.username)?"#{username}":"").form-control
          - if (locals.errors && errors.username)
            span(class="help-block")
              = errors.username.msg

        .form-group(class=(locals.errors && errors.password)?"has-error":"")
          label(for="password") Password
          input(type="password", name="password", id='password', placeholder="Enter your password", value=(locals.password)?"#{password}":"").form-control
          - if (locals.errors && errors.password)
            span(class="help-block")
              = errors.password.msg

        button(type="submit").btn.btn-primary.btn-lg.btn-block
          span.glyphicon.glyphicon-lock
          | &nbsp;&nbsp;&nbsp;Sign in

        .checkbox
          label
            input(type="checkbox", checked='checked')
            | Remember Me

        div.btm-links
          a(href='#')#forgot-password Forgot Your Password?
          br
          a(href='/signup')#create-account Create An Account

  include ../modals/alert
  include ../modals/lost-password