extends base

block title
  |  Login

block body
  div
    .container
        h1.page-header.menu-item-color Login

    br
    br
    .container
        .row
          .col-md-6.col-sm-7
            form#registration(action='/accounts/login', method='POST', role='form', accept-charset='utf-8', name='signup-form')
              input(type='hidden', name='_csrf', value=csrfToken)
              .form-group
                input.form-control.input-text.resize-input-form(type='text', placeholder='username', name='username')
              .form-group
                input.form-control.input-text.resize-input-form(type='password', placeholder='password', name='password')
              br
              .form-group
                a.forgot-password(href='/accounts/reset-password') Forgot your password

              .form-group
                .row
                  .col-md-8.col-sm-7
                    button.btn-landing.btn-primary-landing.btn-block.no-border(type='submit') LOGIN
              .form-group
                .row
                    .col-md-8.col-sm-7
                        a.create-account(href='/accounts/signup') Don't have an account yet? Create one here
    br
    br

block scripts
  script(src='/js/views/login.js')
  if locals.error
    script
      alert("#{locals.error}");

  if locals.errors
    - for (key in errors)
      script
        alert("#{key}: #{errors[key].msg}");
