extends ../layouts/_default

block title
  |  Reset Password Done

block content
  .bg-3doers
    .container
      .page-header
        h3 Reset Password
      br
      br
      .row
        .col-md-12
          p  An e-mail has been sent to your e-mail address with further instructions.
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
