extends ../layouts/_default

block title
  |  Signup Done

block content
  .hidden-xs.hidden-sm(id='beta-label')
    img(src='/images/beta_label.png', alt='3doers beta')
  .bg-3doers
    .container
      .page-header
        h3 Thank you for registering with 3doers!
      br
      br
      .row
        .col-md-12
          p Your account has been created and a verification email has been sent to your registered email address. please click on the verification link included in the email to ac- tivate your account. your account will not be activated until you verify your email address.
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
