extends ../layouts/_default

block title
  |  Activation Done

block content
  .bg-3doers
    .container
      .page-header
        if activated
          h3 Your account has been activated, please login.
        else
          h3 Nothing to activate.
      br
      br
      .row
        .col-md-12

      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
