extends ../layout

block title
  |  Signup Done

block body
  div
    .container
        h1.page-title
          span Registration
        h1.page-title
          span Form
    br
    br
    .section.primary
      .container
        .row
          .col-md-7
            h1.h1-3d.text-shadow-white
              | THANK YOU FOR
              br
              | REGISTERING
              br
              | WITH 3DOERS!
            h4.h4-3d
              | YOUR ACCOUNT HAS BEEN CREATED AND A VERIFICATION EMAIL
              br
              | HAS BEEN SENT TO YOUR REGISTERED EMAIL ADDRESS. PLEASE
              br
              | CLICK ON THE VERIFICATION LINK INCLUDED IN THE EMAIL TO AC-
              br
              | TIVATE YOUR ACCOUNT.
            h4.h4-3d
              | YOUR ACCOUNT WILL NOT BE ACTIVATED UNTIL YOU
              br
              | VERIFY YOUR EMAIL ADDRESS.
          .col-md-5
            div
              img(src='img/hand_register.png')
    br
    br
    br
    include ../includes/publicity
    br
    br
    br
