extends ../layout

block title
  |  Signup

block body
  .title_block
    section.homepage.container2
      h1.title
        p
          | REGISTRATION
          br
        p
          | FORM
          br
    .title_background.registration
      .title_bar1
      .title_bar2
  //
    /todo OCCHIO adattare html and css  con versione backend
  .block_registration_form.row
    section.homepage.container2
      form#registration.form-horizontal(action='/accounts/signup', method='POST', role='form', accept-charset='utf-8', name='signup-form')
        input(type='hidden', name='authenticity_token')
        fieldset
          input(type='hidden', name='_csrf', value=csrfToken)
          p.form-group
            input#username.form(value='', placeholder='USERNAME', name='username')
            input#email.form(value='', placeholder='EMAIL', name='email')
            input#password.form(type='password', value='', placeholder='PASSWORD', name='password')
            input#passwordConfirm.form(type='password', value='', placeholder='CONFIRM PASSWORD', name='passwordConfirm')
            input#address.form(value='', placeholder='ADDRESS', name='address')
            input#city(type='hidden', name='city')
            input#country(type='hidden', name='country')
            input#location(type='hidden', name='location')
          p.btn.btn-primary.btn-lg.center-block
            input#submit.form(type='submit', value='REGISTER', name='submit')

    .registration_background
      .hand
        img(src='/img/hand_register.png', alt='3doers Hand')
      .background
  include ../includes/publicity


block scripts
  script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places')
  script(src='/js/views/signup.js')

  if locals.error
    script
      alert("#{locals.error}");

  if locals.errors
    - for (key in errors)
      script
        alert("#{key}: #{errors[key].msg}");
