extends ../layout

block title
  |  Signup

block body
  div
    .container
        h1.page-header Registration


    .section.primary
      .container
        .row
          .col-md-6.col-sm-7
            form#registration(action='/accounts/signup', method='POST', role='form', accept-charset='utf-8', name='signup-form')
              input(type='hidden', name='_csrf', value=csrfToken)
              .form-group
                input.form-control.input-text.resize-input-form(type='text', placeholder='username', name='username')
              .form-group
                input.form-control.input-text.resize-input-form(type='email', placeholder='email', name='email')
              .form-group
                input.form-control.input-text.resize-input-form(type='password', placeholder='password', name='password')
              .form-group
                input.form-control.input-text.resize-input-form(type='password', placeholder='confirm password', name='passwordConfirm')
              .form-group
                input.form-control.input-text.resize-input-form(type='text', placeholder='address', name='address', id='address')
                input#city(type='hidden', name='city')
                input#country(type='hidden', name='country')
                input#location(type='hidden', name='location')
              br
              br
              .form-group
                .row
                  .col-md-8.col-sm-8
                    input(type='checkbox',name='term_condition') &nbsp;
                    span Sign in you accept
                    a(href="/docs/pp.pdf", target="_blank")  Privacy Policy &nbsp;
                    a(href="/docs/terms.pdf", target="_blank") Terms and Condition
                    br
                    br
                    button.btn.btn-xlg.btn-default.btn-block(type='submit')
                      span Register

block scripts
  script(src='http://maps.googleapis.com/maps/api/js?key=AIzaSyDRQ1Ct3DCGBOzXsr0nGNIHwNjKp7FNaKQ&sensor=false&libraries=places')
  script(src='/js/views/signup.js')

  if locals.error
    script
      alert("#{locals.error}");

  if locals.errors
    - for (key in errors)
      script
        alert("#{key}: #{errors[key].msg}");
