extends ../layout

block title
  |  Signup

block body
  div
    .container
        h1.page-title
          span Registration
        h1.page-title
          span Form
    br
    br
    .section.primary
      .container
        .row
          .col-md-6
            form#registration.form-horizontal(action='/accounts/signup', method='POST', role='form', accept-charset='utf-8', name='signup-form')
              input(type='hidden', name='_csrf', value=csrfToken)
              .form-group
                input.form-control.input-text.input-lg(type='text', placeholder='USERNAME', name='username')
              .form-group
                input.form-control.input-text.input-lg(type='email', placeholder='EMAIL', name='email')
              .form-group
                input.form-control.input-text.input-lg(type='password', placeholder='PASSWORD', name='password')
              .form-group
                input.form-control.input-text.input-lg(type='password', placeholder='CONFIRM PASSWORD', name='passwordConfirm')
              .form-group
                input.form-control.input-text.input-lg(type='text', placeholder='ADDRESS', name='address', id='address')
                input#city(type='hidden', name='city')
                input#country(type='hidden', name='country')
                input#location(type='hidden', name='location')
              br
              br
              .form-group
                .row
                  .col-md-8
                    button.btn.btn-xlg.btn-default.btn-block(type='submit')
                      span REGISTER
      .right-hand.middle
        img(src='/img/hand_register.png')
    br
    br
    br
    include ../includes/publicity
    br
    br
    br

block scripts
  script(src='http://maps.googleapis.com/maps/api/js?key=AIzaSyDRQ1Ct3DCGBOzXsr0nGNIHwNjKp7FNaKQ&sensor=false&libraries=places')
  script(src='/js/views/signup.js')

  if locals.error
    script
      alert("#{locals.error}");

  if locals.errors
    - for (key in errors)
      script
        alert("#{key}: #{errors[key].msg}");
