extends ../layout

block title
  |  Signup

block content
  .title_block
    section.homepage.container2
      h1.title
        p
          | REGISTRATION
          br
        p
          | FORM
          br
      .title_background.registration
        .title_bar1
        .title_bar2

  .block_registration_form.row
    section.homepage.container2
      form#registration.form-horizontal(name='signup-form', accept-charset='UTF-8', role='form', method='POST', action='/accounts/signup')
        input(name='authenticity_token', type='hidden')
        fieldset
          input(value=csrfToken, name='_csrf', type='hidden')
          p.form-group
            input#username.form-control(name='username', placeholder='USERNAME', value='')
            input#email.form-control(name='email', placeholder='EMAIL', value='')
            input#password.form-control(name='password', placeholder='PASSWORD', type='password', value='')
            input#passwordConfirm.form-control(name='passwordConfirm', placeholder='CONFIRM PASSWORD', type='password', value='')
            input#address.form-control(name='address', placeholder='ADDRESS', value='')
            input#city(name='city', type='hidden')
            input#country(name='country', type='hidden')
            input#location(name='location', type='hidden')
          p.btn.btn-primary.btn-lg.center-block
            input#submit.form-control(name='submit', value='REGISTER', type='submit')
      .registration_background
        .hand
          img(alt='3doers Hand', src='/img/hand_register.png')
        .background


  .publicity_block
    section.homepage.container6
      .publicity
        .container-left
          img(alt='3doers image', src='/img/publicity_homepage.png')
        .container-right
          p
            span
              | WELCOME TO 3DOERS
              br
            span
              | FIND A 3D PRINTER FOR YOUR PROJECT
              br
            span  OR START PRINTING OTHERS
      .publicity_comment_background
        .publicity_bar1
        .publicity_bar2
        .publicity_bar3

block scripts
  script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places')
  script(src='/js/views/signup.js')