
html
head
    link(href='http://fonts.googleapis.com/css?family=Titillium+Web', rel='stylesheet', type='text/css')
body(style="font-family: 'Titillium Web', sans-serif; color: #4d4d4d;")
  #page(style='width: 100%; max-width: 800px; margin: 0 auto;')
    #header(style='width: 100%; max-width: 800px; margin: 0 auto 20px auto;')
      a(href='http://www.3doers.it/accounts/signup', target='_blank', style='color: #4d4d4d; text-decoration: none; ')
        img(src='http://www.fritzfriend.altervista.org/3doers/locali/testata_locali.jpg')
      #call-one(style='position: relative; width: 100%; max-width: 800px; color: #4a4a4a;\
      font-weight: normal;\
      margin-bottom: 18px;\
      margin-top: 25px; text-align: center; background: white; z-index: 10;')
        a(href='http://www.3doers.it/accounts/signup', target='_blank', style='color: #4d4d4d; text-decoration: none; ')
          h1(style='font-size: 20px;') CON 3DOERS POTRAI REALIZZARE IN 3D GADGETS PERSONALIZZATI
    #bordo-sup(style='position: relative; width: 100%; margin: 10px 0 30px 0; border-bottom: 2px solid #e0e0d1;z-index: 1;')
    #center(style='width: 100%; margin: 0 auto; text-align: center; clear: both;')
      p(style='color: #959495;\
      font-size: 16px;\
      font-weight: 300;') Stampa in 3d il tuo logo per regalarlo ad una serata o un evento
      #righa(style='max-width: 100%; margin-top: 30px;')
        #icona(style='margin: 0 auto; width: 100%; position: relative;')
          #figura(style='margin-bottom: 30px;\
          text-align: center;')
            img(src='http://www.fritzfriend.altervista.org/3doers/locali/vk_landing.jpg')
          p1(style='color: #4eb476;\
          font-size: 18px;\
          font-weight: normal; float: right;\
          margin-bottom: 0; line-height: 0.2;') esempi di portachiavi realizzati per la Vodkeria di Torino
    #bordo-inf(style='float: left; width: 60px; clear: left; border-bottom: 2px solid #e0e0d1; margin-top: 70px;')
    #call-two(style='float: left; width: 85%; margin: 50px 0 8% 0;')
      #call-two-text(style='margin-left: 10px; margin-bottom: -50px;')
        h3(style='margin: 0; font-size: 20px; font-style: italic;') Per realizzarlo:
        #num(style='width: 100%; margin-top: 20px;')
          img(src='http://www.fritzfriend.altervista.org/3doers/locali/num-1.png', style='float: left; margin-right: 20px;')
          #voce(style='float: left; width: 90%; padding-bottom: 20px;')
            h2(style='font-size: 20px; margin: 0; font-weight: normal;')
              | iscriviti su
              a(href='http://www.3doers.it/utenti', style='text-decoration: none; color:#4eb476;', target='_blank') www.3doers.it
        #num(style='width: 100%;')
          img(src='http://www.fritzfriend.altervista.org/3doers/locali/num-2.png', style='float: left; margin-right: 20px;')
          #voce(style='float: left; width: 90%; padding-bottom: 20px;')
            h2(style='font-size: 20px; margin: 0; font-weight: normal;')  carica un file .STL
        #num(style='width: 100%;')
          img(src='http://www.fritzfriend.altervista.org/3doers/locali/num-3.png', style='float: left; margin-right: 20px;')
          #voce(style='float: left; width: 90%; padding-bottom: 20px;')
            h2(style='font-size: 20px; margin: 0; font-weight: normal;')  osserva il preventivo in tempo reale e indica il numero di pezzi desiderato!
    #bordo-inf(style='float: left; width: 60px; clear: left; border-bottom: 2px solid #e0e0d1; margin-top: 20px;')
    #call-two(style='float: left; width: 85%; margin: 0 0 8% 0;')
      #call-two-text(style='margin-left: 10px; margin-bottom: -50px;')
        h3(style='margin: 0; font-size: 20px; font-style: italic;') Non hai il file in 3D?
        h2(style='font-size: 20px; margin: 0 0 30px 0; font-weight: normal;')
          | Scrivi a
          a(href='mailto:info@3doers.it', style='text-decoration: none; color:#4eb476;', target='_blank') info@3doers.it
          |  richiedendone la realizzazione
    #foot(style='float: left; clear:boat; width: 100%')
      #bordo-sup(style='position: relative; width: 100%; margin: 10px 0 10px 0; border-bottom: 2px solid #e0e0d1;z-index: 1;')
      p(style='color: #4a4a4a; font-size: 12px; font-weight: 300; line-height: 30px;') 3doers s.r.l. copyright 2015, 3D print community
