extends base

block title
  |  Home

block content
  .title_block
    section.homepage.container2
        h1.title
          p
            | WELCOME TO 3DOERS
            br
          p
            | FIND A 3D PRINTER FOR
            br
          p
            | YOUR PROJECT OR START
            br
          p
            | PRINTING OTHERS
            br
      .title_background
        .title_bar1
        .title_bar2
        .title_bar3
        .title_bar4
    section.homepage.container3
      h3.subtitle
        | Applicake brownie bear claw sweet sesame
        br
        | snaps wafer soufflé. Caramels chocolate
        br
        | ice cream bonbon wafer oat cake bear
        br
        | claw. Chocolate bar danish sweet
    .gallery
      ul#bxslider
        li
          img(alt='3d printer', width='1282', height='597', src='/img/img_gallery_1.png')
        li
          img(alt='3d printer', width='1280', height='593', src='/img/img_gallery_2.png')
      .container-gallery_homepage
        .gallery_image
          img(alt='3d printer', width='716', height='171', src='/img/gallery_image.png')
      .square
    .instructions_block
      section.homepage.container4
        .instructions
          h3.title
            | APPLICAKE BROWNIE BEAR
            br
            | CLAW SWEET
          p.text
            | Snaps wafer soufflé. Caramels chocolate ice cream bonbon wafer oat cake bear claw. Chocolate bar danish sweet
          .options
            .upload
              a.button(href='') UPLOAD A PROJECT
              a#upload-comment(href='')
                | FOR UPLOAD A PROJECT YOU MUST
                | LOGIN OR SIGN UP
            .printer
              a.button(href='') BECOME A PRINTER
              a#printer-comment(href='')
                | FOR UPLOAD A PROJECT YOU MUST
                | LOGIN OR SIGN UP
            .filemanager
              a.button(href='') BECOME A FILE MANAGER
              a#filemanager-comment(href='')
                | FOR UPLOAD A PROJECT YOU MUST
                | LOGIN OR SIGN UP
      .instructions_background
    .comment_block
      section.homepage.container5
        .revision
          .container-left
            h1.first_comment
              p.comment
                | YOU'RE SURE THAT
                br
              p.comment
                | YOUR FILE IS READY
                br
              p.comment  TO BE PRINTED?
          .container-right
            img(alt='3doers image', src='img/icona3d_homepage.png')
        .revision_link
          p
            | NO!
            a(href='', target='')  SO CLICK HERE FOR IL SERVIZIO DI REVISIONE!
      .first_comment_background
        .comment_bar1
        .comment_bar2
        .comment_bar3
    .publicity_block
      section.homepage.container6
        .publicity
          .container-left
            img(alt='3doers image', src='img/publicity_homepage.png')
          .container-right
            p
              span
                | WELCOME TO 3DOERS
                br
              span
                | FIND A 3D PRINTER FOR YOUR PROJECT
                br
              span  OR START PRINTING OTHERS
      .publicity_comment_background
        .publicity_bar1
        .publicity_bar2
        .publicity_bar3
