extends /layouts/_default

block title
  |  Home

block content
  .page.page-landing
    .container
      .main-banner
        img.img-responsive(src='images/slider1.jpg')
      .section
        h3.title.text-center HOW IT WORKS
        p.info.text-center
          | 3doers is a collective 3d printing service.
          br
          | Here you can print your objects or find a designer to model your ideas.
        .row.steps
          .col-md-4
            .step
              figure: img(src='images/step1_icon.png')
              h4 1. You upload a file
              a(href='#') Don't have a design yet?
          .col-md-4
            .step
              figure: img(src='images/step2_icon.png')
              h4 2. A printer picks it
          .col-md-4
            .step
              figure: img(src='images/step3_icon.png')
              h4
                | 3. Your object
                br
                | is delivered to you
        .control-links
          a.btn.btn-lg.btn-green(href='#') START PRINTING
      .box
        .row
          .col-md-7
            .content.content-white
              h3 DO YOU HAVE A 3D PRINTER?
              p
                | You bought a 3d printer and you feel strong about your skills.
                br
                | Join our community and start getting paid for your work.
                br
                | We offer you
              br
              br
              br
              br
              br
              a.btn.btn-lg.btn-simple(href='#') Become a printer
          .col-md-5
            .content.content-blue
              h3 ARE YOU A DESIGNER?
              p So you like to create awesome models with a 3d cad and you feel like taking it to the next level. Start designing for us and get paid for it.
              br
              br
              br
              br
              br
              a.btn.btn-lg.btn-simple-inverse(href='#') Start designing
      .contact
        .inner
          .row
            .col-lg-3.col-md-3
              h3 CONTACT US
              p.info Need help using our service? For business to business enquiries or any other requests, feel free to contact us at this address
                a(href='#') info@3doers.it
          br
          br
          br
          .row
            .col-md-5.col-md-offset-7
              p.text.white Printing service in US and Europe
              p.text.green Design service worldwide

//- extends ../layout
//- block title
//-     |  Home
//- block extra-headers
//-     meta(name="csrf-token", content="#{csrfToken}")
//- block body
//-     section.container
//-         .row
//-             div.intro-text
//-                 span
//-                     p.intro-heading SIMPLE 3D PRINTING
//-                     p.text-20.intro-label Turn your ideas into real objects
//-     section(data-anchor="howItWorks").container#howItWorks
//-         .row.text-center.margin-top-35.menu-item-color
//-             p.h3.weight-normal.menu-item-color.margin-bottom-18 HOW IT WORKS
//-             span.text-16.gray-color 3doers is a collective 3d printing service.
//-             p.text-16.gray-color Here you can print your objects or find a designer to model your ideas.
//-         .row.margin-top-70.green-color
//-             div.col-sm-4.text-center
//-                 img(src='/img/icon/step1_icon.svg').img-responsive.center-block
//-                 div.h3.text-20 1. You upload a file
//-                 a(href='#').lite-grey-color.text-14 Don&rsquo;t have a design yet?
//-             div.col-sm-4.text-center
//-                 img(src='/img/icon/step2_icon.svg').img-responsive.center-block
//-                 div.h3.text-20 2. A printer picks it
//-             div.col-sm-4.text-center
//-                 img(src='/img/icon/step3_icon.svg').img-responsive.center-block
//-                 div.h3.text-20 3. Your object is delivered to you
//-         .row.text-center.margin-top-60
//-             a(href='/project/upload').btn-landing.btn-primary-landing START PRINTING
//-     section(data-anchor='join').container.margin-top-60#join
//-         .row.blue-box
//-             .col-sm-8.blue-border.padding-top-55.padding-bottom-55
//-                 .row-fluid.padding-left-20.padding-left-30
//-                     p.h3.weight-normal.lite-blu-shadow DO YOU HAVE A 3D PRINTER?
//-                     br
//-                     p.text-16.menu-item-color You bought a 3d printer and you feel strong about your skills.
//-                     p.text-16.menu-item-color Join our community and start getting paid for your work.
//-                     p.text-16.menu-item-color We offer you
//-                     br
//-                     br
//-                     br
//-                     br
//-                     .row-fluid.clearfix
//-                         .col-sm-4.col-sm-offset-1.text-center
//-                             a(href='/become').btn-landing.btn-block.btn-secondary-landing.margin-top-60 Become a printer
//-                         .col-sm-5.col-sm-offset-2
//-                             img(src='/img/icon/printer_icon.svg').img-responsive.center-block
//-             .col-sm-4.blue-box.padding-top-55.padding-left-30.padding-bottom-55
//-                 .row-fluid.padding-left-20
//-                     p.h3.weight-normal ARE YOU A DESIGNER?
//-                     br
//-                     p.text-16.weight-lite So you like to create awesome models with a 3d cad and you feel like taking it to the next level. Start designing for us and get paid for it.
//-                     br
//-                     br
//-                     br
//-                     br
//-                     br
//-                     br
//-                     br
//-                     .text-center.col-sm-8.col-sm-offset-2
//-                         a(href='#').btn-landing.btn-secondary-landing.btn-block.btn-secondary-reverse.margin-top-20 Start designing
//-     section(data-anchor='contact').container.margin-top-20#contact
//-         .row#contact-us-container
//-             .col-sm-2
//-                 p.h3.weight-normal CONTACT US
//-                 br
//-                 p.text-16.weight-lite Need help using our service?
//-                 p.text-16.weight-lite For business to business enquiries or any other requests, feel free to contact us at this address
//-                     a(href='mailto:info@3doers.it')  info@3doers.it
//-             .col-sm-8.col-sm-offset-1
//-                 img(src='/img/background/worldmap.svg').img-responsive.col-sm-offset-2
//-                 .col-sm-offset-5.col-sm-4
//-                     p.text-14.weight-lite Printing service in US and Europe
//-                     p.text-14.weight-lite Design service worlwide


//- block scripts
//-   script(src='/vendor/jquery.flexslider-min.js')
//-   script(src='/vendor/jquery.ajaxupload.js')
//-   script(src='/js/views/index.js')
//-   script(type='text/javascript')
//-     $(window).load(function() {
//-       $('.flexslider').flexslider({
//-         'controlNav': false,
//-         'prevText': '',
//-         'nextText': ''
//-         });
//-       });

//-     $(document).ready(function(){
//-         $('.nav .menu-item').on('click', function() {
//-             var scrollAnchor = $(this).attr('data-scroll'),
//-         scrollPoint = $('section[data-anchor="' + scrollAnchor + '"]').offset().top - 28;
//-         $('body,html').animate({
//-             scrollTop: scrollPoint
//-             }, 500);
//-         return false;
//-         })
//-     });

//-     $(window).scroll(function() {
//-         var windscroll = $(window).scrollTop();
//-         if (windscroll >= 90) {
//-             console.log('>=90')
//-             $('.wrapper section').each(function(i) {
//-                 if ($(this).position().top <= windscroll - 20) {
//-                     $('nav menu-item-active').removeClass('menu-item-active');
//-                     $('.nav .menu-item').eq(i).addClass('menu-item-active');
//-                 }
//-             });
//-         } else {
//-             console.log('else')
//-             $('.nav menu-item-active').removeClass('menu-item-active');
//-             $('.nav .menu-item:first').addClass('menu-item-active');
//-             }
//-     }).scroll();
