doctype
head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    | &#x9;
    title 3Doers
    | &#x9;
    meta(name='author', content='3doers.it')
    | &#x9;
    meta(name='description', content='newsletter call to action')
    | &#x9;
    meta(name='keywords', content='newsletter')
    | &#x9;
    meta(name='Resource-type', content='Document')
    | &#x9;
    link(type='image/x-icon', rel='shortcut icon', href='/favicon.ico?')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-55020252-1', 'auto');
       ga('send', 'pageview');
    style.
      body{
      color: #333;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 14px;
      line-height: 1.42857;
      }
      h1 {
      color: #4a4a4a;
      font-size: 24px;
      font-weight: normal;
      margin-bottom: 18px;
      margin-top: 35px;
      }
      h2 {
      font-size: 20px;
      margin: 0 0 30px 0;
      color: #4a4a4a;
      }
      h3 {
      margin: 0;
      font-size: 20px;
      font-style: italic;
      color: #4a4a4a;
      }
      p {
      color: #959495;
      font-size: 16px;
      font-weight: 300;
      }
      p1 {
      color: #4eb476;
      font-size: 18px;
      font-weight: normal;
      margin-bottom: 0;
      line-height: 1.1;
      }
      a {
      color: #4eb476;
      text-decoration: none;
      }
      #page {
      width: 100%;
      max-width: 930px;
      padding: 0 15px;
      margin: 0 auto;
      }
      #header {
      width: 100%;
      max-width: 930px;
      margin: 0 auto 20px auto;
      }
      #bordo-sup {
      position: relative;
      width: 100%;
      margin: 10px 0 10px 0;
      border-bottom: 2px solid #e0e0d1;
      z-index: 1;
      }
      #call-one {
      position: relative;
      width: 50%;
      max-width: 400px;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      margin: 35px auto -40px auto;
      text-align: center;
      background: white;
      z-index: 10;
      }
      #percaric {
      width: 100%;
      margin-bottom: 60px;
      }
      #carica {
      position: relative;
      width: 50%;
      max-width: 400px;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      margin: 60px auto -80px auto;
      text-align: center;
      background: white;
      z-index: 10;
      }
      #center {
      width: 100%;
      margin: 40px auto 0 auto;
      text-align: center;
      clear: both;
      }
      #righa {
      max-width: 100%;
      margin-top: 70px;
      }
      #icona {
      float: left;
      width: 30%;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 50px;
      position: relative;
      z-index: 20;
      }
      #figura {
      margin-bottom: 30px;
      text-align: center;
      }
      #bordo-inf {
      float: left;
      width: 60px;
      clear: left;
      border-bottom: 2px solid #e0e0d1;
      margin-top: 65px;
      }
      #call-two {
      float: left;
      width: 85%;
      margin: 50px 0 8% 0;
      }
      #call-two-text {
      margin-left: 10px;
      margin-bottom: -50px;
      }
      #info {
      padding-left: 10px;
      }
  body
    #page
      #header
        a(href='http://www.3doers.it/accounts/signup', target='_blank')
          img(src='http://www.fritzfriend.altervista.org/3doers/landing/testata_landing_ita-06.png')
          #call-one
            img(src='http://www.fritzfriend.altervista.org/3doers/landing/pulsante_call1-07.png')
    #bordo-sup
    #center
      p
        | 3Doers e&apos; un servizio di stampa 3D dasato su un network
        br
        | Puoi stampare il tuo progetto o diventare uno stampatore e iniziare a lavorare per gli altri
      #righa
        #icona
          #figura
            img(src='http://www.fritzfriend.altervista.org/3doers/step1_icon.png')
          p1
            | 1. Carica il file 3D e
            br
            |  vedi subito il costo
        #icona
          #figura
            img(src='http://www.fritzfriend.altervista.org/3doers/step2_icon.png')
          p1
            | 2. Il primo stampatore
            br
            |  libero lo realizzera&apos;
        #icona
          #figura
            img(src='http://www.fritzfriend.altervista.org/3doers/step3_icon.png')
          p1
            | 3. L&apos;oggetto arriva
            br
            |  a casa tua
    #percaric
      #carica
        a(href='http://www.3doers.it/project/upload')
          img(src='http://www.fritzfriend.altervista.org/3doers/landing/pulsante_carica-07.png')
        p Calcola il preventivo e iscriviti se vuoi stampare
      #bordo-sup
    #bordo-inf
    #call-two
      #call-two-text
        h3 Non hai ancora un file in 3D?
        p
          | Vai su
          a(href='https://www.thingiverse.com/', target='_blank')
            img(src='http://www.fritzfriend.altervista.org/3doers/landing/thingiverse-logo-2013.png')
          |
          br
          |
          | Scarica gratuitamente un file in formato .stl
          br
          | Caricalo sul nostro sito per stamparlo in 3D e averlo a casa
      #righa
        #icona
          #figura
            a(href='https://www.thingiverse.com/', target='_blank')
              img(src='http://www.fritzfriend.altervista.org/3doers/landing/nastro-08.jpg')
        #icona
          #figura
            a(href='https://www.thingiverse.com/', target='_blank')
              img(src='http://www.fritzfriend.altervista.org/3doers/landing/cover-08.jpg')
        #icona
          #figura
            a(href='https://www.thingiverse.com/', target='_blank')
              img(src='http://www.fritzfriend.altervista.org/3doers/landing/drone-08.jpg')
      #bordo-inf
      #call-two
        #call-two-text
          h3 Hai una stampante 3D?
          h2 Iscriviti a 3Doers e richiedi di diventare stampatore.
        a(href='http://www.3doers.it/accounts/signup', target='_blank')
          img(src='http://www.fritzfriend.altervista.org/3doers/landing/call_news_ita-03-03.png')
        #info
          p
            | Per maggiori informazioni contattaci a
            a(href='mailto:info@3doers.it') info@3doers.it
