extends ../layouts/_basic

block title
  |  Login

block content
  .bg-3doers
    .container
      .page-header
        h3 Login
      br
      br
      .row
        .col-md-4
          form.form-3doers#loginForm(action='/accounts/login', method='POST', role='form', accept-charset='utf-8', name='signup-form')
            input(type='hidden', name='_csrf', value=csrfToken)
            .form-group
              input.form-control(type='text', placeholder='username', name='username')
            .form-group.no-margin
              input.form-control(type='password', placeholder='password', name='password')
            .form-group
              a.link-inverse(href='/accounts/reset-password') Forgot your password
            br
            .form-group
              button.btn.btn-lg.btn-block.btn-green LOGIN
            a(href='/accounts/signup') Don't have an account yet? Create one here
      br
      br
      br
      br
      br
      br
      br
      br

block scripts
  script(src='/js/views/login.js')
  if locals.error
    script
      alert("#{locals.error}");

  if locals.errors
    - for (key in errors)
      script
        alert("#{key}: #{errors[key].msg}");
